@charset "utf-8";
/*맑은고딕웹폰트로드(폰트 사용할곳에font-family:'나눔고딕', 'Nanum Gothic', '굴림', 'Gulim', 'sans-serif', 'Tahoma';추가)*/
/* @import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css"); */
/*@import url("fonts.css");*/

/* CSS Document */
html,body{width:100%;height:100%;-webkit-text-size-adjust:none}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
body{font-size:12px;font-family:'Noto Sans KR', 'NanumSquare', 'barun', 'Nanum Gothic', '굴림', 'Gulim', 'sans-serif', 'Tahoma';padding:0;margin:0;color:#4d4d4d;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display: block;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{position:relative;}
hr,legend {position:absolute;left:-1000%;top:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
fieldset,iframe {border:none;vertical-align:middle;}
img{vertical-align:top;/*width:100%;*/max-width:100%;border:none}
caption{/*position:absolute;left:-1000%;top:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden*/line-height:0;/*visibility:hidden;*/font-size:0}
input,select,button{vertical-align:middle;font-family:'Noto Sans KR', 'NanumSquare', 'barun', 'Nanum Gothic', '굴림', 'Gulim', 'sans-serif', 'Tahoma';}
textarea{font-family:'Noto Sans KR', 'NanumSquare', 'barun', 'Nanum Gothic', '굴림', 'Gulim', 'sans-serif', 'Tahoma';}
button{border:none;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;table-layout:fixed}
a{text-decoration:none;color:#4d4d4d;}
a:link,a:visited{text-decoration:none;}
a:hover,a:focus,a:active{text-decoration:none;}
.blind{display:block;overflow:hidden;top:-10000em;position:absolute;}
/*.normal{font-weight: 400;}
.bold{font-weight: 700;}
.bolder{font-weight: 800;}
.light{font-weight: 300;}*/
.normal{font-weight: 400;}
.bold{font-weight: 500;}