@charset "utf-8";

/*메인공통*/
.main-wrap {background:#F7FBFF;}
.main-wrap * {box-sizing: border-box;}

/*메인상단*/

.main-top {background: url(../img/main/main-bg.jpg) no-repeat 50% 50%; padding:50px 0; height:560px; background-size: cover; margin-bottom:130px;}
.main-top:before {content:''; display:block; position:absolute; right:0; bottom:-40%; width:670px; height:880px; background: url(../img/main/main_bg_car.png);}
.main-top .inner {overflow: hidden;}
.main-top .slide {float: left; width: 66%; height:360px; line-height:1;}
.main-best {float: right; width: 32%; height:360px; background: #fff; position: relative; border:3px solid #1a3f9a;}


.main-best ul {padding:8px 30px;}
.main-best ul li{border-bottom: 1px solid #ddd; height:42px; padding:8px 0;}
/* .main-best ul li:nth-of-type(-n+3) a {color:#f68b33;} */
.main-best ul li:last-of-type {border-bottom: 0;}
.main-best ul li a {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.main-best ul li a:hover {text-decoration: underline;}
.main-best .more-btn {position: absolute; top:14px; right:30px; width: 20px; height: 20px; background: url(../img/common/ico-plus-w.png) no-repeat 50% 50%; border:1px solid #fff; text-indent: -9999px;}

.main-quick {position:relative; background: url(../img/main/quick-bg.png); text-align: center; padding:50px 0; }
.main-quick:before {content:''; display:block; position:absolute; bottom:40px; left:0; width:100%; height:82px; background: url(../img/main/quick-bg-02.png),  url(../img/main/quick-bg-03.png); background-repeat: no-repeat, no-repeat; background-position: left -5px, right -5px;}
.main-quick ul {overflow: hidden;}
.main-quick ul li {float: left; width: 18%; height:150px; margin-left:2%; background: #fff; padding:20px; background-position: 90% 15px; background-repeat: no-repeat; border-radius:10px; text-align:left;}
.main-quick ul li .title {font-size: 2rem; margin-bottom: 40px; color:#000; display: block;}
.main-quick ul li .more-btn {position:relative; padding:6px 40px 6px 20px; background: #404A8F; font-size: 1.5rem; border-radius:5px; color:#fff; transition: 0.3s;}
.main-quick ul li .more-btn:before {content:''; display:block; position:absolute; right:20px; top:12px; width:8px; height:8px; border-top:2px solid #fff; border-right:2px solid #fff; transform: rotate(45deg);}
.main-quick ul li .more-btn:hover, .main-quick ul li .more-btn:focus {background:#333;}
.main-quick ul li:nth-of-type(2) {background-image: url(../img/main/ico-quik1.png);}
.main-quick ul li:nth-of-type(3) {background-image: url(../img/main/ico-quik2.png);}
.main-quick ul li:nth-of-type(4) {background-image: url(../img/main/ico-quik3.png);}
.main-quick ul li.issue-bn {width: 40%; margin-left: 0; padding:0; background:url(../img/main/issue-bg.png) no-repeat left bottom; height:150px;}
.main-quick ul li.issue-bn a {display: block; height:100%; background:url(../img/main/issue-bg-02.png) no-repeat; background-position: 40px bottom; transition: 0.3s;}
.main-quick ul li.issue-bn a p {font-size:24px; color:#333; font-weight:600; letter-spacing:-2px;}
.main-quick ul li.issue-bn a em {color:#666;}
.main-quick ul li.issue-bn a:hover,
.main-quick ul li.issue-bn a:focus {background-position:right bottom;}

.main-board {overflow: hidden; padding:20px 0 80px 0; background:#F7FBFF;}
.recent-post {float: left; width: 47%; position: relative;}
.recent-post:last-of-type {float:right; margin-right: 0;}
.recent-post h2 {font-size: 2.4rem; color:#000; padding: 0 0 7px  15px; border-bottom: 2px solid #194a9d; font-weight: 500;}
.recent-post h2:before {content:''; position:absolute; left:0; top:5px; display:block; height:25px; width:7px; background:#1a3f9a;}
.recent-post ul li {height:58px; padding: 17px 0; position: relative; border-bottom:1px solid #ccc; }
.recent-post ul li a {display: block; position:relative;padding:0 110px 0 10px;}
.recent-post ul li a:before {content:"";display:inline-block;position:absolute;left:0;top:50%;margin-top:-1px;width:2px;height:2px;background:#666;border-radius:50%;margin-right:10px;}
.recent-post ul li a span:first-of-type {overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical;  line-height: 1.4em;  max-height: 1.4em;}
.recent-post ul li a:hover {color:#000;}
.recent-post ul li .date {position: absolute; top:0; right: 0; color:#999}
.recent-post ul li .download {position: absolute; z-index:1; top:-6px; right: 0; padding:8px 34px 8px 16px; border-radius:5px; text-align:center; background:#404A8F; color:#fff; font-size:1.3rem; transition: 0.3s;}
.recent-post ul li .download:after {content:''; display:block; position:absolute; top:8px; right:12px; width:13px; height:16px; background:url(../img/common/ico-down-xs.png);}
.recent-post ul li .download:hover, .recent-post ul li .download:focus {background:#333;}
.recent-post .more-btn {position: absolute; top:5px; right: 0; color:#194a9d}
.recent-post .more-btn:after {content: ''; display: inline-block; width: 25px; height: 25px; background:url(../img/common//ico-plus-blue.png) no-repeat 50% 50%; border:1px solid #194a9d; vertical-align: middle; margin-left: 8px; position: relative; top:-2px;}

.notice-post ul li:first-child {min-height:116px;}
.notice-post ul li:first-child a {padding:0 10px 0 90px;}
.notice-post ul li:first-child a span {font-size:1.8rem; font-weight:500;}
.notice-post ul li:first-child a p {margin-top:8px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height:1.4em; height: 2.8em;}
.recent-post ul li:first-child a:before {left:80px; top:12px;}
.notice-post ul li:first-child .date {position:absolute;  left:0; display:block; width:66px; color:#333; padding-top:74px; text-align:center; }
.notice-post ul li:first-child .date em {position:absolute; top:4px; left:0; width:100%; font-size:60px; font-weight:600; color:#333; letter-spacing: -2px;}





.main-class {clear:both; position:relative; z-index:1; text-align: center; padding:30px 0;}
.main-class h2 {font-size: 3rem; color:#fff; margin-bottom: 20px; font-weight: 500;}
.main-class ul {position:relative; display:block;}
.main-class ul:after {content:''; clear:both; display:block;}
.main-class ul li {float: left; width: 12.1%; background: #fff; border-radius: 10px;  margin-right:2.5%; margin-bottom: 2%; background-repeat: no-repeat; background-position: 50% 20px; transition: all .3s ease; -webkit-transition: all .3s ease;
-webkit-box-shadow: 7px 7px 15px 0px rgba(64,74,143,0.1);
-moz-box-shadow: 7px 7px 15px 0px rgba(64,74,143,0.1);
box-shadow: 7px 7px 15px 0px rgba(64,74,143,0.1);}
.main-class ul li:last-of-type {margin-right: 0;}
.main-class ul li a {display: block; font-size: 2rem; color:#000; padding:140px 10px 20px 10px; font-weight: 500;}
.main-class ul li:nth-of-type(1) {background-image: url(../img/main/ico-class1.png);}
.main-class ul li:nth-of-type(2) {background-image: url(../img/main/ico-class2.png);}
.main-class ul li:nth-of-type(3) {background-image: url(../img/main/ico-class3.png);}
.main-class ul li:nth-of-type(4) {background-image: url(../img/main/ico-class4.png);}
.main-class ul li:nth-of-type(5) {background-image: url(../img/main/ico-class5.png);}
.main-class ul li:nth-of-type(6) {background-image: url(../img/main/ico-class6.png);}
.main-class ul li:nth-of-type(7) {background-image: url(../img/main/ico-class7.png);}
.main-class ul li:hover:nth-of-type(1) {background-image: url(../img/main/ico-class1-on.png);}
.main-class ul li:hover:nth-of-type(2) {background-image: url(../img/main/ico-class2-on.png);}
.main-class ul li:hover:nth-of-type(3) {background-image: url(../img/main/ico-class3-on.png);}
.main-class ul li:hover:nth-of-type(4) {background-image: url(../img/main/ico-class4-on.png);}
.main-class ul li:hover:nth-of-type(5) {background-image: url(../img/main/ico-class5-on.png);}
.main-class ul li:hover:nth-of-type(6) {background-image: url(../img/main/ico-class6-on.png);}
.main-class ul li:hover:nth-of-type(7) {background-image: url(../img/main/ico-class7-on.png);}




/* =========================================== 추가로 넣은부분 ================================= */
.bd_rnd {border-radius: 10px; overflow:hidden;}
.main-banner a img {border-radius: 10px; width:100%; height:100%;}


/* 인기강좌 로그인 */

.main-best ul li .num {display:inline-block; margin-right:10px; width:25px; height:25px; color:#fff; border-radius:100%; text-align:center; background:#1a3f9a; }

.main-best .best_edu {position:relative;}
.main-best .best_edu h2 {font-size:2rem; color:#fff; padding:10px 30px; background: #f68b33; font-weight: 500;}
.main-best.logout .tit {padding:22px 30px 22px 30px;}
.main-best.logout .tit p {float:left; font-size:24px; font-weight:500;}
.main-best.logout .tit p em {color:#404a8f;}
.main-best.logout .tit .inbtn {float:right; display:block; width:80px; height:35px; line-height:35px; font-size:13px; background:#1a3f9a; color:#fff; text-align:center; border:1px solid #E5E5E5; border-radius:5px; transition: 0.3s;}
.main-best.logout .tit .inbtn:hover,
.main-best.logout .tit .inbtn:focus {background:#fff; color:#666;}
.main-best.logout .tit:after {content:''; display:block; clear:both;}

.main-best.login ul {padding:0;}
.main-best.login ul li {position:relative; padding:0; border-bottom:none; height:auto;}
.main-best.login .mypage {padding:26px;}
.main-best.login .mypage h3 {font-size:20px; font-weight: 500; padding-bottom:10px;}
.main-best.login .mypage .tit {padding-bottom:22px; border-bottom:1px solid #cccccc;}
.main-best.login .mypage .tit p {float:left; font-size:24px; font-weight:500;}
.main-best.login .mypage .tit p em {color:#404a8f;}
.main-best.login .mypage .tit .outbtn {float:right; display:block; width:80px; height:35px; line-height:35px; font-size:13px; color:#666; text-align:center; border:1px solid #E5E5E5; border-radius:5px; transition: 0.3s;}
.main-best.login .mypage .tit .outbtn:hover,
.main-best.login .mypage .tit .outbtn:focus {background:#1a3f9a; color:#fff;}
.main-best.login .mypage .tit:after {content:''; display:block; clear:both;}
.main-best.login .mypage .now_edu {position:relative; padding:20px 0;}
.main-best.login .mypage .now_edu a {position:relative; transition: 0.2s;}
.main-best.login .mypage .now_edu a:hover,
.main-best.login .mypage .now_edu a:focus {font-weight:600; text-decoration: none; color:#404a8f;}
.main-best.login .mypage .now_edu p {font-size:1.6rem;}
.main-best.login .mypage .now_edu .now_bar {position:relative; display:block; height:10px; background:#E5E5E5; border-radius:5px; overflow:hidden;}
.main-best.login .mypage .now_edu .now_bar i {display:block; position:absolute; left:0; width:100%; height:100%; background:#F68906; border-radius:5px;}

.main-best.login .mypage .next_edu h3 {padding-bottom:5px;} 
.main-best.login .mypage .next_edu ul li a {font-size:1.6rem; padding-right:40px;}
.main-best.login .mypage .next_edu ul li .next-btn {position:absolute; top:0; right:0; padding-right:0; width:22px; height:22px; border-radius:11px; border:1px solid #1A3F9A; transition: 0.2s;}
.main-best.login .mypage .next_edu ul li .next-btn:after {content:''; position:absolute; top:6px; right:5px; display:block; width:6px; height:6px; border-top:1px solid #1a3f9a; border-right:1px solid #1a3f9a; transform: rotate(45deg);}
.main-best.login .mypage .next_edu ul li .next-btn:before {content:''; position:absolute; top:9px; right:5px; display:block; width:10px; height:1px; background:#1a3f9a;}
.main-best.login .more-btn {top:18px; background:url(../img/common/ico-plus.png) no-repeat 50% 50%; border:1px solid #666;}
.main-best.login .mypage .next_edu ul li a:hover .next-btn,
.main-best.login .mypage .next_edu ul li a:focus .next-btn {background:#1a3f9a;}
.main-best.login .mypage .next_edu ul li a:hover .next-btn:after,
.main-best.login .mypage .next_edu ul li a:focus .next-btn:after {border-top:1px solid #fff; border-right:1px solid #fff; right:8px;}

.main-best.login .more {display:block; position:absolute; bottom:0; width:100%; height:50px; background:#1a3f9a; color:#fff; font-size:18px; font-weight:500; text-align:center; line-height:50px;}






@media all and (max-width:1240px){

}

@media all and (max-width:1000px){
	.main-top {padding:40px 0; height:auto; margin-bottom:0;}
	.main-top:before {display:none;}
	.main-top .slide {width: 100%; float: none; height:auto;}
	.main-top .slide img {width: 100%; height:auto;}
	.main-best {width: 100%; float: none; margin:10px 0;}
	.main-best h2 {padding:12px 15px;}
	.main-best ul {padding:5px 10px;}
	.main-best ul li {padding:10px 10px;}
	.main-best .more-btn {top:16px; right: 20px;}
	.main-class ul li:nth-child(n+5) {margin-bottom:0;}
	.main-class {padding:0;}
	.main-class ul li {width:23%; margin-right:2%; margin-bottom:18px; background-position:center 5px;}
	.main-class ul li a {padding:110px 10px 10px 10px;}
	
	.main-board {padding:30px 0 50px 0;}
	.recent-post {width:49%;}
	
	.main-quick {padding:30px 0;}
	.main-quick:before {bottom:20px; width:40%; background:url(../img/main/quick-bg-02.png); background-repeat: no-repeat; background-position: left -5px; background-size: cover;}
	.main-quick ul li {background-position: 50% 10px; padding:2.2% 0 1.5% 0; text-align: center;}
	.main-quick ul li .title {margin:50px 0 5px 0;}
	.main-quick ul li.issue-bn {text-align:left;}
}

@media all and (max-width:768px){
	.main-top {padding:20px 0;}
	.recent-post:last-of-type {float:none;}
	.notice-post ul li:first-child {min-height:100px;}
	.notice-post ul li:first-child .date {padding-top:66px;}
	.notice-post ul li:first-child .date em {top:-4px;}
	.recent-post ul li {padding:14px 0; height:48px;}
	
	.main-best {margin:10px 0 0 0;}
	
	.main-quick:before {top:50px; bottom:auto; right:0; left:inherit; width:360px; background-size: contain; background-position:0 0;}	
	.main-quick ul li {width: 32%; margin:0; margin-right: 2%; background-position:50% 5px; padding:10px; height:auto;}
	.main-quick ul li:last-of-type {margin-right: 0;}
	.main-quick ul li.issue-bn {float: none; width: 100%; height:80px; margin-bottom: 10px; background-position: 50% top; background-size: 70px;}
	.main-quick ul li.issue-bn a {background-size:131px 60px; background-position:60% 0;}
	.main-quick ul li.issue-bn a:hover, .main-quick ul li.issue-bn a:focus {background-position:100% 0;}
	.main-quick ul li.issue-bn img {width: 100%;}
	.main-board {padding:20px 0 10px 0;}
	.recent-post {float: none; width: 100%; margin-bottom:25px;}
	.recent-post .more-btn:after {width: 20px; height: 20px;}

	.main-class {padding:10px 0 0 0;}
	.main-class h2 {margin-bottom: 5px;}
	.main-class ul li {margin:1%; background-size: 40px; background-position: 50% 10px;}
	.main-class ul li a {padding:55px 10px 10px 10px;}
}

@media all and (max-width:650px){
	.main-quick:before {top:58px; width:200px;}
	.main-quick ul li.issue-bn a {background-size: 65px 30px; background-position: 70% 21px;}
	.main-quick ul li.issue-bn a:hover, .main-quick ul li.issue-bn a:focus {background-position:100% 21px;}
	
}

@media all and (max-width:480px){
	.main-quick ul li .more-btn{padding:6px 0 6px 0; width:80%;}
	.main-quick ul li .more-btn:before {display:none;}
	.main-quick ul li {background-size:50px;}
}