@charset "utf-8";
/* 통합검색 */
.sub_inner .search_box {padding: 32px 0 25px;text-align:center;background-color:#f7f7f7;border-top:2px solid #24a7de;}
.sub_inner .search_box .tit {display:none;margin-top:20px;color:#484848;font-size:17px;font-weight:500;}
.sch_box input[type='text']{width:553px;height:40px;margin:0;padding:0 17px;}
.slt_sch_wrap{background-color:#fff;}
.search_text{display:inline-block;font-size:18px;color:#24a7de;line-height:22px;vertical-align:middle;}
.choice_wrap .rdo_wrap{display:inline-block;}
.choice_wrap .inp_rdo_wrap{margin:15px 0 0 25px;}
.search_text label:after{display:inline-block;width:20px;height:20px;border-right:2px solid #d5d5d5;vertical-align:middle;content:"";}
.result_searching {max-width:100%;margin:auto;padding:40px 0;text-align:center;font-size:28px; color:#636363;}
.explanation_wrap{max-width:100%;margin-bottom:100px;padding:45px 0 45px 80px;border:solid 1px #dadada;}
.speaker {display:block;float:left;width:100px;height:100px;margin:30px 0 0 0;border:1px solid #e2e2e2;border-radius:50%;background-color:#f6f6f6;}
.explanation_wrap:after{display:block;clear:both;content:'';}
.speaker img{display:block;width:52px;margin:30% 25%;}
.explanation_wrap ul{float:right;width:80%;}
.explanation_wrap .explanation{line-height:34px;}
.explanation_wrap .explanation::before{display:inline-block;width:5px;height:5px;margin-right:20px;vertical-align:middle;background-color:#24a7de;content:"";}
.more_results h3{font-size:26px;}
.result_box{border-bottom:solid 1px #24a7de;}
.result_box:after{display:block;clear:both;content:'';}
.search_tit{display:inline-block;padding-bottom:5px;font-size:26px;color:#404040;}
.go_back_btn{display:block;float:right;width:80px;margin-bottom:5px;}
.go_back_btn .button{width:100%;height:100%;margin:0;padding:6px 0;background-color:#dadada;line-height:20px;}
.result_wrap .tit{padding:20px 0 10px;font-size:20px;font-weight:bold;color:#333232;}
.result_wrap ul{width:90%;border-bottom:solid 1px #dadada;}
.siteResult{margin-bottom:65px;}
.homeimg{vertical-align:inherit;}
.morebtn{width:92px;height:30px;padding-top:5px;position:absolute;top:30px;right:0;text-align:center;color:#fff;background-color:#32bbd8;}
.morebtn a:hover{color:#fff;}
.result_wrap{position: relative;}
.result_wrap li{font-size:15px;color:#474747;}
.result_wrap .preview{padding:15px 0 30px;font-size:16px;color:#787878;word-break:keep-all;}
.gallery_wrap{overflow:hidden;padding-bottom:35px;border-bottom: solid 1px #dadada;}
.gallerytype{width:290px;height:233px;margin:20px 27px 0 0;float:left;border:solid 1px #dadada;}
.gallery_wrap .grytype02{width:210px;height:329px;}
.gallerytype:nth-last-child(1){margin-right:0;}
.gallerytype img{width:100%;}
.gallery_txt{height:45px;padding:15px 20px;font-size:16px;color:#242424;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.topline{padding:13px 15px;border-top:solid 1px #dadada;text-overflow:inherit;white-space:inherit;overflow:inherit;}
.date_txt{display:block;font-size:14px;color:#9c9c9c;}
.result_wrap .gallery_row{width:100%;}
.result_wrap .archive_line{border:none;}
.result_searching strong {font-weight:500;color:#18a2dc;}
.siteResult .num{margin-left:5px;font-weight:500;color:#18a2dc;}
.morebtn:after{display:inline-block;width:9px;height:10px;margin-left:10px;background:url(../img/sub/more_plus.png) no-repeat;content:'';}
.playback{position: relative;}
.playback:after{display:inline-block;position:absolute;width:64px;height:64px;background:url('../img/sub/playback.png')no-repeat;content:'';top:20%;left:38%;}

/*검색*/
.sch_wrap{display:inline-block;font-size:16px;}
.sch_wrap fieldset{font-size:0;}
.slt_sch_wrap{display:inline-block;border:1px solid #d5d5d5;font-size:0;}
.sch_wrap .search_select,.sch_wrap .sch_box,.sch_wrap .sch_btn_wrap{display:inline-block;vertical-align:middle;}
.board_sch_box{display:inline-block;position:relative;width:70%;}
.board_sch_box:before{position: absolute;top: 50%;left: 0;width: 1px;height: 20px;background: #d5d5d5;-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);transform: translateY(-50%);content: "";}
.sch_wrap .search_select{position:relative;width:155px;height:40px;border:none;font-size:16px;line-height:40px;}
.sch_wrap .search_select:after{position:absolute;top:50%;right:0;width:1px;height:20px;background:#d5d5d5;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);content:"";}
.sch_wrap .search_select select{height:40px;border:none;line-height:40px;font-size:16px;}
.sch_wrap .sch_box input{width:374px;margin-left:10px;border:none;}
.sch_wrap #board_search::-ms-clear{display:none;}
.sch_wrap .sch_btn_wrap{width:42px;height:42px;}
.sch_wrap .sch_btn_wrap button{position:relative;width:100%;height:100%;border:none;background:#17a2db;vertical-align:middle;}
.sch_wrap .sch_btn_wrap button:before{position:absolute;top:50%;left:50%;width:20px;height:20px;background:url(../img/common/sp_form.png) no-repeat -26px 0;-ms-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);content:"";}
