@charset "utf-8";
/*게시판 공통*/
.board-top { margin-bottom: 20px;}
.board-top .total-num {font-size: 2.2rem; display: inline-block; vertical-align: middle; margin-right: 15px;}
.board-top .total-num strong {font-weight: 700; color:#f26522; }
.board-top .sorting {display: inline-block; }
.board-top .sorting .sort-btn {height: 40px; padding:0 20px; background: #999; color:#fff; margin-left: -5px; position: relative; z-index: 2;}
.board-top .board-search {float: right;}
.board-top .board-search .search-box input[type="text"] {margin:0 2px;}
.board-top .board-search .search-box .btn-search {padding:0 20px; height: 40px; background: #0d6dbe; color:#fff;}
.board-top .board-search .search-box .btn-search.green {background:#408080;}
.board-top .board-search .search-box .btn-term {padding:0 20px; height: 40px; background: #f2f2f2; border:1px solid #a8a8a8; cursor:pointer; }

.board-top.type-dark {background: #555; padding:25px; overflow: hidden;}
.board-top.type-dark p {color:#fff; float: left; margin-top:10px;}

.other-info {overflow: hidden;}
.other-info span {float: left;}

/*icon*/
.ico-notice {background: #0d6dbe; color:#fff; border-radius: 4px; padding:2px 20px; margin-right: 20px; vertical-align: middle; }
.ico_need{display:inline-block; margin:0 4px; font-size:0; text-indent:-999px; width:6px; height:6px; border-radius:50%; background:#f2470e; vertical-align:middle;}


.write_guide{float:right; margin:-35px 0 0 0;}
@media all and (max-width:480px){
	.write_guide{margin:-35px 0 0 0; font-size:12px;}
}

.in_sm{width:48px;}
.in_md{width:150px;}



/* 게시판 기본형 리스트 */
.board-common .board-list {border-top:1px solid #000; }
.board-common .board-list li {padding:25px 260px 25px 50px; border-bottom: 1px solid #ddd; position: relative;}
.board-common .board-list li.top-notice {background: #f8f8f8; padding-left: 25px;}
.board-common .board-list li strong {vertical-align: middle; }
.board-common .board-list li .title {width: 80%; font-weight: normal;}
.board-common .board-list li .title .ico-file { position: absolute; top:53%; right: 230px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.board-common .board-list li .title a {color:#000; overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;  line-height: 1.4em; max-height: 2.8em; }
.board-common .board-list li .num { width: 3%; color:#666; vertical-align: middle; position:absolute; top:26px; left: 25px; }
.board-common .board-list li .category {color:#0d6dbe; vertical-align: middle; margin-right:25px; line-height: 2.5;}
.board-common .board-list .other-info {position: absolute; top:50%; right: 20px; -webkit-transform: translateY(-48%); transform: translateY(-48%);  }
.board-common .board-list .other-info span {font-size: 1.6rem; color:#666; padding:0 10px; border-right:1px solid #ddd; line-height: 1; }
.board-common .board-list .other-info span:last-of-type {border-right:0;min-width:100px;}

/* 갤러리 게시판 리스트 */
.board-thumb {overflow: hidden;}
.board-thumb .board-list {margin:0 -1.5%; border-top:2px solid #000; }
.board-thumb .board-list li {display: inline-block; width: 30%; margin:3% 1.5% 0 1.5%; border:1px solid #ddd; }
.board-thumb .board-list li a {display: block; position: relative;}
.board-thumb .board-list li a:after {content: ''; display: block; opacity: 0; width: 100%; height: 100%; position: absolute; top:0; left: 0; background: rgba(0,0,0,0.5) url(../img/common/ico-search.png)no-repeat 50% 50%; transition: all .3s ease; -webkit-transition: all .3s ease;}
.board-thumb .board-list li a:hover:after {opacity: 1;}
.board-thumb .board-list li .txt-box {padding:7%; }
.board-thumb .board-list li .txt-box .title {font-weight: 500; font-size: 2rem; line-height: 1.4;}
.board-thumb .board-list li .txt-box p {margin:10px 0 0px; color:#666; font-size: 1.6rem;}
.board-thumb .board-list li .img-box {position: relative; padding-top:60%;}
.board-thumb .board-list li .img-box img {position: absolute; top:0; left: 0; width: 100%; height: 100%; }
.board-thumb .board-list .other-info {margin-top:20px;}
.board-thumb .board-list .other-info span {font-size: 1.6rem; color:#666; padding:0 10px; border-left:1px solid #ddd; line-height: 1; }
.board-thumb .board-list .other-info span:first-of-type {border-left:0; padding-left: 0;}

/* 웹진 게시판 리스트 */
.board-thumb .webzine li a:after {display: none;}
.board-thumb .webzine li a:hover:after {display: none;}
.board-thumb .webzine li .txt-box {min-height: 180px;}
.board-thumb .webzine li .img-box {position: relative; padding-top:100%;}
.board-thumb .webzine li .btn-box {overflow: hidden; margin:0; margin-top:20px;}
.board-thumb .webzine li .btn-box button {min-width: inherit; width: 48%; margin:0; float: left;}
.board-thumb .webzine li .btn-box button:before {content: ''; display: inline-block; width: 20px; height: 20px; margin-right: 5px; vertical-align: middle; position: relative; top:-2px;}
.board-thumb .webzine li .btn-box .btn-webzine {margin-right: 4%;}
.board-thumb .webzine li .btn-box .btn-webzine:before {background:url(../img/common/ico-search-xs.png) no-repeat 50% 50%; }
.board-thumb .webzine li .btn-box .btn-down:before {background:url(../img/common/ico-down-xs.png) no-repeat 50% 50%;}
.board-thumb .webzine .other-info {margin-top:10px;}

/*웹진 뷰*/
.webzine-view .webz-img {background: #f9f9f9; padding:3% 3% 0 3%;}
.webzine-view .webz-img .img-wrap {overflow: hidden;}
.webzine-view .webz-img .img-wrap .img {float: left; width: 50%; padding-top:62%; background: #666; position: relative;}
.webzine-view .webz-img .img-wrap .img:nth-child(2) {border-left: 1px solid #f9f9f9;}
.webzine-view .webz-img .img-wrap .img img {position: absolute; top:0; left: 0; width: 100%; height: 100%;}
.webzine-view .webz-info {padding:2% 3%; border-bottom: 1px solid #ddd; overflow: hidden;}
.webzine-view .webz-info .txt-box {float: left; width: calc(100% - 200px);}
.webzine-view .webz-info .txt-box .title {font-weight: 500; margin-bottom: 5px; }
.webzine-view .webz-info .txt-box .txt {font-size: 1.6rem;  height: 100px; overflow: auto; color:#666}
.webzine-view .webz-info .txt-box .detail  {margin-top:10px;}
.webzine-view .webz-info .txt-box .detail span {font-size: 1.5rem; color:#666; margin-right: 7px; padding-right: 10px; border-right: 1px solid #ddd; line-height: 1; }
.webzine-view .webz-info .txt-box .detail span:last-of-type {border-right: 0;}
.webzine-view .webz-info button {float: right; margin-top:3%; }

/* 게시판 뷰 공통*/
.board-view {border-top:1px solid #000; border-bottom: 1px solid #000; padding-bottom: 40px; }
.board-view .ico-file {margin-left: 10px; position: relative; top:2px;}
.board-view .category {color:#0d6dbe; margin-right: 15px; vertical-align: middle; font-size: 2rem; margin-top:1px; line-height: 2;}
.board-view .category:after {content: '/'; display: inline-block; margin-left: 20px;}
.board-view .other-info {position: absolute; top:50%; right: 20px; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.board-view .other-info span {font-size: 1.6rem; color:#666; padding:0 10px; border-right:1px solid #ddd; line-height: 1;}
.board-view .other-info span:last-of-type {border-right:0;}
.board-view .view-info {padding:30px 320px 30px 20px; background: #f8f8f8; border-bottom: 1px solid #ddd; position: relative;}
.board-view .view-info .title {vertical-align: middle; font-size: 2rem; font-weight: 500; margin-top:2px; color:#000;}
.board-view .view-info.bottom { padding:15px 25px; margin-bottom: -40px;}
.board-view .view-info.bottom .title{font-size: 1.6rem;}
.board-view .view-content {padding:50px 20px;}
.board-view .view-img {text-align: center;}
.board-view .view-img img {margin-bottom: 10px;}
.board-view .detail {border-bottom: 1px solid #ddd; padding:15px 25px; border-top:1px solid #ddd;}
.board-view .detail .title {font-weight: 500; vertical-align: middle; margin-right: 15px; color:#000;}
.board-view .detail .txt {display: inline-block; vertical-align: middle; }

/*파일첨부*/
.attach-file {position: relative;}
.attach-file .title {font-weight: 500; vertical-align: middle; margin-right: 15px; color:#000;}
.attach-file .mo-drop-tit {width: 100%; text-align: left; font-size: 1.7rem; line-height: 1;}
.attach-file .file-list {display: inline-block; vertical-align: top; }
.attach-file .file-list li {display: inline-block; margin:0 10px; font-size: 1.6rem;  }
.attach-file .file-list li a {color: #666; position: relative; padding-right: 30px; background: url(../img/common/ico-down.png) no-repeat 99% 50%; background-size:18px auto;} 
.attach-file .file-list li a:hover {color:#000; text-decoration: underline;}

/* 갤러리 슬라이드*/
.gallery-wrap {padding:0 20px;}

/*이전글 다음글*/
.prev-next-wrap {border-top:1px solid #ddd; margin:40px 0;}
.prev-next-wrap li {border-bottom: 1px solid #ddd; display: table; width: 100%; }
.prev-next-wrap li strong { padding:15px 0; text-align: center; background: #eee; display: table-cell; width:17%;}
.prev-next-wrap li strong:before {content: ''; display: inline-block; width: 7px; height: 7px; border-top:1px solid #666; border-right: 1px solid #666; margin-right: 15px; position: relative; top:-4px; transform: rotate(135deg);}
.prev-next-wrap li a {color:#666; display: table-cell; width: 83%; padding:15px 3%;}
.prev-next-wrap li a:hover {text-decoration: underline; color:#000;}

/*페이지네이션*/
.paging {text-align: center; padding:40px 0px; text-align: center; font-size: 1.5rem;}
.paging > a {margin:0 2px; width: 30px; height: 30px; line-height: 30px; color:#333; vertical-align: middle; color:#666; }
.paging strong.on {font-weight: bold; color:#fff; background: #0d6dbe; width: 30px; height: 30px; line-height: 30px; vertical-align: middle;}
.paging .first, .paging .last, 
.paging .prev, .paging .next {border:1px solid #ddd; background-size: auto; background-repeat: no-repeat; background-position: 50% 50%;}
.paging .first {background-image: url(../img/common/ico-pg-first.png);}
.paging .last {background-image: url(../img/common/ico-pg-last.png);}
.paging .prev {background-image: url(../img/common/ico-pg-prev.png); margin-right:10px;}
.paging .next {background-image: url(../img/common/ico-pg-next.png); margin-left: 10px;}
.paging .page-num {display: inline-block; vertical-align: middle;}
.paging .page-num span {vertical-align: middle;}
.paging .page-num input[type="text"] {height: 30px; width: 50px; margin-right: 2px; text-align: center;}
.paging .page-num a {width: 50px; height: 30px; line-height: 30px; background: #0d6dbe; color:#fff; vertical-align: middle; margin-left: 5px;}

/*카테고리 필터*/
.category-filter {text-align: center; margin-bottom: 60px;}
.category-filter ul {display: table; margin:0 auto; border-collapse: collapse;}
.category-filter ul li {display: table-cell; border:1px solid #ccc; }
.category-filter ul li button {display: block; min-width: 150px; height: 50px; }
.category-filter ul li.on {border:1px solid #0d6dbe; background: #0d6dbe; }
.category-filter ul li.on button {color:#fff;}

/*FAQ 리스트*/
.board-faq { border-top:2px solid #000;}
.faq-list li {border-bottom: 1px solid #ddd; }
.faq-list li .faq-open-btn {font-size: 1.8rem; font-weight: 500; background: url(../img/common/ico-q.png) no-repeat 2% 50%; padding:25px 6%; display: block; width: 100%; text-align: left; position: relative;}
.faq-list li .faq-open-btn:before {content: ''; display: block; position: absolute; top:34%; right:25px;  width: 10px; height: 10px; border-top:2px solid #999; border-right: 2px solid #999; transform: rotate(135deg) translateY(-50%); -webkit-transform: rotate(135deg) translateY(-50%); transform-origin: center center;  -webkit-transform-origin: center center;}
.faq-list li .faq-open-btn.on:before { transform: rotate(-45deg) translateY(-50%); -webkit-transform: rotate(-45deg) translateY(-50%); top:50%; right: 18px; border-color:#0d6dbe;}
.faq-list li .faq-content {display: none; padding:20px 6%; color:#666; background: #f9f9f9; border-top:1px solid #ddd;  background: url(../img/common/ico-a.png) no-repeat 2% 20px; }

/* 프로그램 게시판 리스트*/
.board-program {overflow: hidden;}
.board-program .board-list {border-top:2px solid #000; }
.board-program .board-list li {border-bottom:1px solid #ddd; }
.board-program .board-list li a {display: block; position: relative; overflow: hidden; padding:20px 0;}
.board-program .board-list li .img-box {float: left; width: 20%; position: relative; padding-top:14%;}
.board-program .board-list li .img-box img {position: absolute; top:0; left: 0; width: 100%; height: 100%; }
.board-program .board-list li .txt-box {float: left; width: 60%; padding:0 30px; margin-top:10px;}
.board-program .board-list li .txt-box .title {font-weight: 500; font-size: 2rem; line-height: 1.4;}
.board-program .board-list li .txt-box p {margin:10px 0 0px; color:#666; font-size: 1.6rem;}
.board-program .board-list li .txt-box:hover .title,
.board-program .board-list li .txt-box:hover p {text-decoration: underline}
.board-program .board-list .other-info {margin:20px 0 10px; padding-top:4px}
.board-program .board-list .other-info strong {font-size: 1.4rem; background: #f26522; color:#fff; border-radius: 4px; padding:5px 6px 3px 6px; float: left; margin-right: 7px; margin-top:-4px; line-height: 1;}
.board-program .board-list .other-info span {font-size: 1.6rem; color:#666; padding:0 10px; border-left:1px solid #ddd; line-height: 1; }
.board-program .board-list .other-info span:first-of-type {border-left:0; padding-left: 0;}
.board-program .board-list .hits {font-size: 1.5rem; color:#666; padding-left: 30px; background: url(../img/common/ico-hits.png) no-repeat 0 50%;}
.board-program .board-list li .btn-box {float: right; width: 20%; margin:2.7% 0 0 0; text-align: right}
.board-program .board-list li .btn-box button {margin-bottom: 7px;}
.program-banner {margin-bottom: 30px;}


/*스케줄*/
.schedule-top { text-align: center; padding:30px 10px; position: relative; line-height: 1; }
.schedule-top .month {font-size: 3rem; color:#000; line-height: 1;}
.schedule-top a {text-indent: -9999px; text-align: left; width: 40px; height: 40px; border:2px solid #ccc; border-radius: 100px; position: absolute; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.schedule-top .btn-prev {left: 50%; margin-left: -120px; background: url(../img/common/ico-cal-prev.png) no-repeat 50% 50%; }
.schedule-top .btn-next {right: 50%; margin-right: -120px; background: url(../img/common/ico-cal-next.png) no-repeat 50% 50%; }
.schedule-list {border-top:1px solid #000;}
.tb-schedule tr th,
.tb-schedule tr td {border:1px solid #ddd; padding:10px 5px;}
.tb-schedule thead tr th {border-bottom: 0; border-top:0;  background:#efefef; color:#000; }
.tb-schedule tbody tr td { height: 150px; text-align: left; padding:10px 15px;}
.tb-schedule tbody tr td .date {border-radius: 100px; width: 25px; height: 25px; line-height: 25px; color:#000; font-size: 1.6rem; }
.tb-schedule tbody tr td .date.current {background: #f68906; color:#fff; text-align: center;}
.tb-schedule tbody tr td button {text-align: left; margin-top:5px; color:#fff; padding:2px 10px; background: #999; font-size: 1.3rem;}
.tb-schedule tbody tr td button:hover {background: #f68906;}
.tb-schedule tbody tr td ul {margin:5px 0 5px 3px;}
.tb-schedule tbody tr td ul li {font-size: 1.4rem; color:#666; position: relative; padding-left: 7px;}
.tb-schedule tbody tr td ul li:before {content: ''; display: inline-block; width: 3px; height: 3px; background: #f68906;  position: absolute; top:40%; left: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%)}

.month-schedule.type-s .schedule-top {padding:15px 10px;}
.month-schedule.type-s .schedule-top .month {font-size: 2rem;}
.month-schedule.type-s .schedule-top .btn-prev {width:30px; height:30px; margin-left: -90px;}
.month-schedule.type-s .schedule-top .btn-next {width:30px; height:30px; margin-right: -90px;}
.month-schedule.type-s .tb-schedule thead tr th {font-size: 1.5rem;}
.month-schedule.type-s .tb-schedule tbody tr td {padding:5px; height:57px;}
.month-schedule.type-s .tb-schedule tbody tr td .date {font-size: 1.4rem; display: block; width: 20px; height: 20px; line-height: 20px;}
.month-schedule.type-s .tb-schedule tbody tr td .date.current {background: none; color:#f68906; font-weight: bold;}
.month-schedule.type-s .tb-schedule tbody tr td button.open-btn { text-indent: -9999px; padding:0; width: 100%; position: relative; background: none;}
.month-schedule.type-s .tb-schedule tbody tr td button.open-btn:before {content: ''; width: 10px; height: 10px; background: #0d6dbe; border-radius: 100px; position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}

.test-schedule {overflow: hidden}
.test-schedule .month-schedule {float: left; width: 30%;}
.test-schedule .table-set {float: right; width:67%; margin-top:50px;}


/*스케줄 팝업*/
.schedule-view {padding:6%;}
.schedule-view ul li {margin-bottom:5px; border-bottom: 1px solid #ddd; padding:10px; position: relative;}
.schedule-view ul li:last-of-type {margin-bottom: 0;}
.schedule-view ul li:before {content: ''; display: block; width: 3px; height: 3px; background: #ccc; border-radius: 10px; position: absolute; top:50%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.schedule-view ul li a:hover {text-decoration: underline;}





/*만족도조사*/
.satisfaction { background: #eee; padding:2.5%; overflow: hidden; margin:20px 0;}
.satisfaction .title {font-size: 1.8rem; margin-bottom: 15px; float: left; color:#000;}
.satisfaction .radio-set {float: right;}
.satisfaction .satis-input {overflow: hidden; clear: both}
.satisfaction .satis-input textarea {border:1px solid #ccc; background: #fff; min-height: 70px; float: left; width: 85%;}
.satisfaction .satis-input .satis-btn {float: right; width: 13%; height: 70px; background: #677d90; color:#fff;}


@media all and (max-width:1240px){ 
	.test-schedule .month-schedule {width: 35%;}
	.test-schedule .table-set {width:62%; }
}

@media all and (max-width:1000px){ 
	.board-view .view-info {padding:15px;}
	.board-view .other-info {position: relative; top:0; left: 0; right: 0; transform: none; -webkit-transform: none; margin-top:10px; margin-left: -10px;}
	
	.board-thumb .board-list {margin:0;}
	.board-thumb .board-list li {margin:2% 1% 0 1%; width: 47.5%}
	.board-thumb .board-list li .txt-box {padding:15px; } 
	.board-thumb .board-list li .txt-box .title {font-size: 1.8rem;}
	.board-thumb .board-list .other-info span {font-size: 1.4rem;}
	
	.faq-list li .faq-open-btn {padding:18px 40px; background-size: 20px;}
	.faq-list li .faq-open-btn:before {top:33%; right: 15px; width: 7px; height: 7px;}
	.faq-list li .faq-open-btn.on:before {right:10px;}
	.faq-list li .faq-content {background-size: 20px; padding:18px 0 18px 40px;}
	
	.webzine-view .webz-img .img-wrap .img {width: 100%; float: none; padding-top:110%;}
	.satisfaction .title,
	.satisfaction .radio-set {float: none; width: 100%; margin-bottom: 10px;}
	
	.test-schedule .month-schedule {width: 100%; float: none;}
	.test-schedule .table-set {width:100%; float: none; margin-top:20px;}
}

@media all and (max-width:768px){ 
	.ico-notice {margin-bottom: 12px; margin-right: 15px; padding:2px 10px 0 10px; font-size: 1.5rem; }
	.board-top .sorting {display: none;}
	.board-top .total-num {font-size: 1.6rem; margin-top:5px; margin-right: 0;}
	.board-top .board-search .search-box select {display: none;}
	.board-top .board-search .search-box .btn-search {padding:0 15px;}
	.board-top .board-search .search-box .btn-search,
	.board-top .sorting .sort-btn  {height: 30px;}
	.board-top.type-dark { padding:15px;}
	.board-top.type-dark .board-search {float: none; width: 100%;}
	.board-top.type-dark .board-search .search-box input[type="text"] {width:calc(100% - 65px); }
	.board-top.type-dark p {display: none;}

	
	.board-common .board-list li,
	.board-common .board-list li.top-notice {padding:20px 10px 20px 10px}
	.board-common .board-list li .category {line-height: 1; margin-bottom: 7px;}
	.board-common .board-list li .title {width:calc(100% - 25px);}
	.board-common .board-list li .title .ico-file {top:22%; right: 10px;}
	.board-common .board-list .other-info {position: relative; top:0; left: 0; right: 0; transform: none; -webkit-transform: none; margin-top:10px; margin-left: -10px;}
	.board-common .board-list li .num {display: none;}
	.board-common .board-list li .category {display: block; }
	
	.board-program .board-list li .img-box {padding-top:80%}
	.board-program .board-list li .img-box, 
	.board-program .board-list li .txt-box,
	.board-program .board-list li .btn-box {float: none; width: 100%; text-align: left;}
	.board-program .board-list li .txt-box {padding:5px;}
	
	.board-view {padding-bottom: 20px;}
	.board-view .view-info .title {display: block;}
	.board-view .view-content {padding:20px 15px;}
	.board-view .detail {padding:15px;}
	.board-view .detail .title {margin-bottom: 0;}
	.board-view .category {margin-top:0; position: relative; top:-2px; font-size: 1.7rem}
	.board-view .category:after {margin-left: 10px;}
	.webzine-view .webz-info .txt-box {width: calc(100% - 150px)}
	
	.attach-file .title {display: none;}
	.attach-file .mo-drop-tit {display: block;}
	.attach-file .file-list {border:2px solid #d6dde7; border-top:0; display: none; position: absolute; top:40px; left: 0; width: 100%; z-index: 2; background: #fff; display: none;} 
	.attach-file .file-list li {display: block; width: 100%; padding:0; margin:0; }
	.attach-file .file-list li:last-of-type a{border-bottom: 0;}
	.attach-file .file-list li a {display: block; border-bottom: 1px solid #d6dde7; margin:0; padding:8px 15px; background-position: 96% 50%}
	.attach-file .file-list li a:before {display: none;}
		
	.prev-next-wrap {margin:20px 0;}
	.prev-next-wrap li strong { width: 20%}
	
	.paging {padding:20px 0;}
	.paging .page-num input[type="text"] {width: 30px; padding:0 2px;}
	
	.category-filter {margin-bottom: 30px;}
	.category-filter ul li button {min-width: auto; height: 40px; padding:0 20px;}
	
	.tb-schedule tbody tr td {padding:1%; height: 80px; }
	.tb-schedule tbody tr td .date {width: 20px; height: 20px; line-height: 20px;}
	.tb-schedule tbody tr td ul {display: none;}
	.tb-schedule tbody tr td button  {text-indent: -9999px; width: 25px; height: 25px; background: url(../img/common/ico-search-dark.png) no-repeat 0 0; background-size: contain; display: block; margin: 5px auto 0 auto;}
	.tb-schedule tbody tr td button:hover {background: url(../img/common/ico-search-dark.png) no-repeat 0 0; background-size: contain;}
	
	.board-view .view-info.bottom {margin-bottom: -20px;}
}

@media all and (max-width:600px){ 
	.board-thumb .board-list li {margin:2% 0 0 0; width: 100%;}
	.board-thumb .board-list li .txt-box p {margin:5px 0 0}
	
	
	.satisfaction .radio-set {margin:15px 0 5px 0;}
	.satisfaction .radio-set input[type="radio"] + label {display: inline-block; width: 40%; margin-bottom: 10px;}
	.satisfaction .satis-input .satis-btn,
	.satisfaction .satis-input textarea {float: none;  width: 100%;}
	.satisfaction .satis-input .satis-btn {height: 40px;}
}

@media all and (max-width:480px){ 
	.ico-file img {width:17px; }
	.board-top .board-search .search-box input[type="text"] {width: 150px;}
	
	.webzine-view .webz-info .txt-box {width: 100%}
	.webzine-view .webz-info button {float: none; margin:10px 0;}
	
	.prev-next-wrap li strong { width: 30%}
}




/* 예약 리스트 */
/* 일반 테이블 */
.table_guide{display:none; padding:0 0 5px; font-size:13px; color:#fc4b05; text-align:right;}
.table_wrap{overflow-x:auto; width:100%; margin:0 0 30px 0;}
.tabel_info{margin-top:-12px;}
.normal_list{clear:both; width:100%; border-collapse:collapse; table-layout:fixed; text-align:center; border-top:1px solid #000;}
.normal_list th{padding:20px 0; color:#303030; background:#f5f6f7;  border-bottom:1px solid #d3d4d8;}
.normal_list thead th[scope="colgroup"]{border-bottom:1px solid #d3d4d8;}
.normal_list tbody th,
.normal_list tfoot th{padding:8px 10px; border-bottom:1px solid #d3d4d8;}
.normal_list td{position:relative; padding:20px 10px; border-bottom:1px solid #d3d4d8; border-left:none !important; word-break:break-all;}
.normal_list th:last-child,
.normal_list td:last-child{border-right:none !important;}
.normal_list thead tr + tr th:last-child{border-right:1px solid #d3d4d8;}
.normal_list .none{padding:20px 0;}
.normal_list .ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}


/*  ------------------------ 테이블 안의 테이블 처리(data-cell) ------------------------  */
.datacell tbody td:before {display:none; content:attr(data-cell-header); position:absolute; left:0; font-weight:bold; color:#0971ce;}
.datacell tbody th, table .normal_list tfoot th {width:60px;}
.datacell .tbbtn {position:absolute; top:10px; left:5%; width:80%; height:40px; line-height:40px;}
.form_table .tbbtn {width:80%; height:40px; line-height:40px;}

/*  ------------------------ board 안의 일반테이블 ------------------------  */
@media all and (max-width:767px){
  .datacell {display:block; position:relative; font-size:13px;}
  .datacell:after {content:''; display:block; clear:both;}
  .datacell thead,
  .datacell tbody {display:block;}
  .datacell thead th, 
  .datacell thead tr,
  .datacell tbody tr, 
  .datacell tbody td {display:block;}
  .datacell thead th {width:90px; height:40px; border-top:none;}
  .datacell tbody td  {position:relative; padding:5px 0 5px 82px; min-height:35px; border-top:none; border-right:none; text-align:left; box-sizing: border-box;}
  .datacell th:last-child {border-right:1px solid #d7d7d7 !important;}
  
  .datacell thead {display:none;}
  .datacell tbody tr {margin-top:20px; border-top:2px solid #494a4e;}
  .datacell tbody tr:first-child {margin-top:0; border-top:0;}
  .datacell tbody td:before {display:inline-block; padding-left:5px; width:82px; word-break: keep-all;}

  .datacell .tbbtn {position:relative; top:auto; left:auto; width:auto; padding:5px; line-height:1; height:auto;}
}

@media all and (max-width:568px){
	.table_guide{display:block;}
	.table_wrap .normal_list{width:567px;}
}


/* ------------------------ 버튼 감싸게 ------------------------ */
.btn_wrap{overflow:hidden; width:100%; padding:5px; box-sizing:border-box; background:#dfe3e6;}
.btn_wrap input[type="text"],
.btn_wrap select{ height: 28px;}
.btn_gr {display:inline-block;}
.btn_gr .btn{float:left; margin-left:-1px;}
.btn_gr .btn:first-child{margin:0;}

/** btn *bg_blue **/


.tbbtn.bg_w{border:1px solid #aaa; background:linear-gradient(to bottom, #fcfcfc 20%,#e5e5e5 100%); box-shadow:inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075); color:#333;}

.tbbtn.bg_blue{color:#fff !important; border:1px solid #496c99; text-shadow:0 1px 0 #496c99; background: linear-gradient(to bottom, #267dc6 20%,#0d6dbe 100%)}
.tbbtn.bg_blue:hover,
.tbbtn.bg_blue:active{background:#6088bb;}

.tbbtn.bg_blue02{color:#004fa8; border-color:#2c76c9; background: linear-gradient(to bottom, #f5fafb 20%,#eaf4ff 100%);}
.tbbtn.bg_blue02:hover,
.tbbtn.bg_blue02:active{background:#f5fafb; border-color:#6cafe4;}

/* btn *bg_gray */
.tbbtn.bg_gray{color:#fff; border:1px solid #42444d; text-shadow: 0 1px 0 #42444d; background: linear-gradient(to bottom, #637283 20%,#4b5669 100%);}
.tbbtn.bg_gray:hover,
.tbbtn.bg_gray:active{background:#4b5669; color:#fff;}

.tbbtn.bg_gray02{color:#fff !important; border:1px solid #5a5a5a; text-shadow: 0 1px 0 #5a5a5a; background: linear-gradient(to bottom, #939495 20%,#7b7b80 100%);}
.tbbtn.bg_gray02:hover,
.tbbtn.bg_gray02:active{background:#7b7b80;}


.tbbtn{display:inline-block; min-width:95px; padding:0 10px; font-weight:bold; font-size:13px; border:1px solid #8d8d8d; text-align:center; box-sizing:border-box; color:#303030; border-radius:5px;}
.tbbtn.sm{padding-top:2px; padding-bottom:2px;}
.tbbtn.md{padding-top:2px; padding-bottom:3px;}
.tbbtn.lg{min-width:132px; padding:9px 10px 8px; font-size:15px;}




/* ------------------------  테이블 안의 관리 버튼  ------------------------ */
.btn_adm{display:inline-block; min-width:55px; padding:1px 6px; font-size:11px; border:1px solid #aaa; box-sizing:border-box; text-shadow: 0 1px 0 #fff; color:#222; vertical-align:top; text-align:center; background:linear-gradient(to bottom, #fcfcfc 20%,#e5e5e5 100%); box-shadow:inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);}
.mw0{min-width:0;}
.btn_adm:hover,
.btn_adm:active{background:#eee; border-color:#777; text-decoration:none;}

.btn_adm .arrow,
.btn_adm .arrow02{position:relative; display:inline-block; padding:0 0 0 5px; vertical-align:middle;}
.btn_adm .arrow:after{content:''; display:block; position:absolute; top:50%; right:0; margin:-2px 0 0 0; transform:translateY(-50%); border-left:3px solid #474747; border-top:3px solid transparent; border-bottom:3px solid transparent;}
.bg_blue .arrow:after,
.bg_gray .arrow:after,
.bg_blue02 .arrow:after,
.bg_gray02 .arrow:after{border-left:3px solid #fff;}

/** btn *bg_blue **/
.btn_adm.bg_blue{color:#fff !important; border:1px solid #496c99; text-shadow:0 1px 0 #496c99; background: linear-gradient(to bottom, #799cca 20%,#6088bb 100%);}
.btn_adm.bg_blue:hover,
.btn_adm.bg_blue:active{background:#6088bb;}

.btn_adm.bg_blue02{color:#004fa8; border-color:#2c76c9; background: linear-gradient(to bottom, #f5fafb 20%,#eaf4ff 100%);}
.btn_adm.bg_blue02:hover,
.btn_adm.bg_blue02:active{background:#f5fafb; border-color:#6cafe4;}

/* btn *bg_gray */
.btn_adm.bg_gray{color:#fff; border:1px solid #42444d; text-shadow: 0 1px 0 #42444d; background: linear-gradient(to bottom, #637283 20%,#4b5669 100%);}
.btn_adm.bg_gray:hover,
.btn_adm.bg_gray:active{background:#4b5669;}





/*hover*/

.tbbtn:hover,
.tbbtn:focus{color:#303030; border:1px solid #303030; background:rgba(0,0,0,0.06);}


.tbbtn.gray{color:#fff; border-color:#7c7c83; background:#7c7c83;}
.tbbtn.gray:after,
.tbbtn.blue:after{background-position:-161px -39px;}
.tbbtn.gray[target="_blank"]:after,
.tbbtn.blue[target="_blank"]:after{background-position:-286px -40px;}
.tbbtn.gray:hover,
.tbbtn.gray:focus{color:#fff; border-color:#666; background:rgba(0,0,0,0.6);}
.tbbtn.blue:hover,
.tbbtn.blue:focus{color:#fff; border-color:#0056a2; background:#0056a2;}




@media all and (max-width:480px) {
	.tbbtn.lg{min-width:100px;}
}
@media all and (max-width:360px){
	.tbbtn.lg{min-width:95px;}
}





/* form 테이블 */
/* form 데이터 테이블 - 입력폼테이블, 마이페이지 데이터 리스트 */
.write_guide{padding:0 0 10px; text-align:right; line-height: 1em;}
.form_table{border-top:1px solid #333;}
.form_table table{}
.form_table table th,
.form_table table td{border:1px solid #d9d9d9; }
.form_table table tr:first-child td,
.form_table table tr:first-child th{border-top:none; }

.form_table table th:last-child,
.form_table table td:last-child{border-right:none;}
.form_table table th:first-child,
.form_table table td:first-child{border-left:none;}

.form_table table{clear:both; width:100%; border-collapse:collapse; table-layout:fixed;}
.form_table table thead th{padding:14px 14px; background:#f5f6f7; color:#333; line-height: 1.4; font-weight: 400; }
.form_table table tbody th,
.form_table table tfoot th{padding:12px 14px; font-size: 15px; line-height: 1.4; background:#f5f6f7; color: #333; font-weight: 400; vertical-align:middle; }
.form_table table td{padding:12px 3px; line-height: 1.5; word-break:break-all; color: #666; }

.form_table table td.list_none{ padding:40px 0;}
.form_table table input {max-width:100%;}


/*모달레이어 속 form_table 재정의[s]*/
.modal_popup .form_table table thead th{ padding:8px 8px;}
.modal_popup .form_table table tbody th,
.modal_popup .form_table table tfoot th{padding:8px 8px; }
.modal_popup .form_table table td{padding:8px 8px; font-size: 14px;}
/*모달레이어 속 form_table 재정의[e]*/

.form_table table.ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

@media screen and ( max-width:1070px){     
    .form_table table col:nth-child(1){ width: 25%;}
    .form_table table col:nth-child(3){ width: 25%;}
    /*.form_table table col:first-child{ width: 25%;}*/

	.form_table.col6 table col:nth-child(1){ width: 10%;}
    .form_table.col6 table col:nth-child(3){ width: 10%;}
	.form_table.col6 table col:nth-child(5){ width: 10%;}
	.form_table.col6 table tbody th, .form_table.col6 table tfoot th {word-break:break-all;}
    
    /*.smDataCellView -- form_table을 모바일에서 data-cell을 이용해 목록 처리, 아래로 내리기*/
    .form_table.smDataCellView colgroup{ display: none;}
    .form_table.smDataCellView thead{ display: none;}
    .form_table.smDataCellView thead + tbody > tr{ display: block; width: 100%; margin-bottom: 15px; border: 4px solid #e4e4e4; padding: 15px;}
    .form_table.smDataCellView thead + tbody > tr:first-child{ margin-top: 15px; }
    .form_table.smDataCellView thead + tbody > tr > td { border: none;}
    .form_table.smDataCellView thead + tbody > tr > td { position: relative; display: block; padding:6px 0px 6px 90px;  text-align: left; min-height:34px;}
    .form_table.smDataCellView thead + tbody > tr > td + td { border-top: 1px solid #dddddd;}
    .form_table.smDataCellView thead + tbody > tr > td:before{content:attr(data-cell-header); position: absolute; top: 6px; left: 0; display:inline-block; width: 90px; vertical-align:middle; color:#000; font-size: 13px; font-weight: 500; letter-spacing: -0.08em;}
    .form_table.smDataCellView thead + tbody > tr > td.list_none{  padding:20px 0; text-align: center;}
    
    /*.smMultiColBreak -- 4단, 6단, 등등 col이 여러개인 form_table 모바일에서 --> 모두 2단으로 보이게 처리*/
    .form_table.smMultiColBreak{}
    .form_table.smMultiColBreak colgroup{ display: none;}
    .form_table.smMultiColBreak tbody th{ display: none; }
    .form_table.smMultiColBreak tbody td{ display: block; position: relative; height: auto; padding-left: 30%; border: none; border-bottom: 1px solid #d9d9d9; min-height:35px;}    
    .form_table.smMultiColBreak tbody td:before{content:attr(data-cell-header); position: absolute; top: 0; left: 0; display:inline-block; width: 25%; height: 100%; padding-top: 10px; padding-left: 8px; color:#000; background: #f5f6f7; font-size: 13px; font-weight: 400; letter-spacing: -0.08em; box-sizing: border-box; line-height: 1em;}
	

	.form_table .tbbtn {position:relative; top:auto; left:auto; width:auto; padding:5px; line-height:1; height:auto;}
}
@media screen and ( max-width:768px){     
    .write_guide{ font-size: 13px;}    
    
    .form_table table thead th{padding:8px 8px; font-size: 14px; letter-spacing: -0.05em; }
    .form_table table tbody th,
    .form_table table tfoot th{padding:8px 8px; font-size: 14px; letter-spacing: -0.05em; }
    .form_table table td{padding:8px 8px; font-size: 13px; }    


	.form_table.col6 table colgroup{ display: none;}
	.form_table.col6 table tr {display:block; position:relative;}
	.form_table.col6 table tr:after {content:''; display:block; clear:both;}
	.form_table.col6 table tbody th, .form_table.col6 table tfoot th {display:inline-block; position:relative; text-align:left !important; padding-bottom:0;}	
	.form_table.col6 table th, .form_table.col6 table td {border:none; background:none;}
	.form_table.col6 table td {display:block; width:100%; border-bottom:1px solid #d9d9d9;}

    
}
@media screen and (max-width:568px){
	.table_guide{display:block;}
	.table_wrap > .normal_table{width:567px;}
}







