.error{width: 100%;}
.error img{display: block;margin: auto;}
.error p{margin: 30px auto;font-size: 30px;font-weight: 600;text-align: center;}
.error a{display: block;margin: auto;width: 174px;height: 44px;color: #fff;font-size: 18px;font-weight: 600;background: #09aaf7;line-height: 44px;text-align: center;}