@charset "utf-8";

.s1{display: none;}
.cf:after {content:""; width:0; height:0; font-size:0; line-height:0; display:block; visibility:hidden; clear:both !important}

@media screen and (min-width: 1100px){
	

	.sns_wrap {margin:0 auto; }
	
	.sns{width: 90%; height: 610px;margin: auto;}
	.facebook {background:#4867aa;}
	.twitter {background:#32ccfe;}
	.insta {background:#dfdfdf;}
	.naver {background:#00c73c;}


	.facebook .sns_tit .s2 { margin:270px 0 0 10%; float:left; width:25%; }
	.twitter .sns_tit .s2 { margin:270px 0 0 10%; float:left; width:25%; }
	.insta .sns_tit .s2,.naver .sns_tit .s2 {float:left; width:25%; }
	
	.facebook .sns_tit .s2 p:nth-child(1), .twitter .sns_tit .s2 p:nth-child(1), .insta .sns_tit .s2 p:nth-child(1), .naver .sns_tit .s2 p:nth-child(1) {margin-bottom:10px; }
	.naver .sns_tit .s2 p:nth-child(1) img {width:80%; margin-left:10%;}


	.facebook .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_facebook_btn.gif) no-repeat;
		text-align:center; line-height:40px; 
	}
	.facebook .sns_tit .s2 p:nth-child(2) a:link, .facebook .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }


	.twitter .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_twitter_btn.gif) no-repeat;
		text-align:center; line-height:40px; 
	}
	.twitter .sns_tit .s2 p:nth-child(2) a:link, .twitter .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }


	.insta .sns_tit .s2 p:nth-child(2){
		width:100%; height:40px; background:url(../../common/img/sub/sns2_insta_btn.gif) no-repeat center;
		text-align:center; line-height:40px; 
	}
	.insta .sns_tit .s2 p:nth-child(2) a:link, .insta .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }


	.naver .sns_tit .s2 p:nth-child(2) {
		width:100%; height:40px; background:url(../../common/img/sub/sns2_naver_btn.gif) no-repeat center; text-align:center; line-height:40px; 
	}
	.naver .sns_tit .s2 p:nth-child(2) a:link, .naver .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }




	.sns_box {
		   width:55%; height:550px; margin: 30px; float:right;  
	}
	.naver .sns_box{background: #fff;}

	
	.insta .sns_tit .s2, .naver .sns_tit .s2{float:none;width: 100%;}
	.insta .sns_tit .s2 p:nth-of-type(1) img{width: 36%;	margin: auto;  display: block;  padding-top: 20px;}
	.naver .sns_tit .s2 p:nth-of-type(1) img{width: 28%;	margin: auto;  display: block;  padding-top: 40px;margin-bottom: 30px;}
	.insta .sns_tit .s2 p:nth-of-type(2){margin-bottom: 38px;}
	.insta .sns_box{float:none; width:93%; height: 365px; margin:auto;max-width: 1000px;}
	.naver .sns_box{float: none;width: 93%;height: 380px;}
	.naver .blog{height: 100%;overflow-x: hidden;overflow-y: scroll;}
	.b-tit{margin-bottom: 12px;padding: 15px 10px 0 10px;}
	.b-tit a{display: block;font-size: 15px;color: #3a8d17;font-weight: bold;line-height: 1.4;}
	.b-con{font-size: 13px;color: #777;margin-bottom: 15px;padding: 0 10px;line-height: 1.4;}
	.b-date{font-size: 12px;color: #777;padding: 0 10px 15px 10px;border-bottom: 1px solid #e0e0e0;}
	.sns_box ul{width: 100%;height: 100%;}
	.sns_box ul li.conbox{width: 33.33%;height: 50%;position: relative;overflow: hidden;float: left;}
	.insta .sns_box ul li.conbox a{display: block;width: 100%;height: 100%;background-color: rgba(0,0,0,0.3);transition: 0.3s;position: absolute;left: 0;top: 0;}
	.insta .sns_box ul li.conbox img{display: block;width: 100%;height: 100%;transition: 0.5s;}
	.insta .sns_box ul li.conbox:hover a{background: none;}
	.insta .sns_box ul li.conbox:hover img{transform: scale(1.3);}
	div.sub_inner .sns_box ul{padding-left: 0 !important;}
	.sns_box ul li{list-style: none !important;}
	


/*#msns #blog {
    height: 227px;
    margin-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #aaa;
}*/



}



@media screen and (min-width: 550px) and (max-width:1100px) {


	.sns_wrap {margin:0 auto;}

	.facebook {width:100%; height:780px; background:#4867aa; }
	.twitter {width:100%; height:780px; background:#32ccfe;}
	.insta {width:100%; height:590px; background:#dfdfdf;}
	.naver {width:100%; height:650px; background:#00c73c;}


	.facebook .sns_tit .s2 { display:block; padding-top:40px; width:80%; margin:0 auto;}
	.facebook .sns_tit .s2 p {text-align:center;  }
	.facebook .sns_tit .s2 img {width:45%;}


	.twitter .sns_tit .s2 { display:block; padding-top:40px; width:80%; margin:0 auto;}
	.twitter .sns_tit .s2 p {text-align:center;  }
	.twitter .sns_tit .s2 img {width:40%;}

	.insta .sns_tit .s2 { display:block; padding-top:35px; width:80%; margin:0 auto;}
	.insta .sns_tit .s2 p {text-align:center;  }
	.insta .sns_tit .s2 img {width:40%;}

	.naver .sns_tit .s2 { display:block; padding-top:40px; width:80%; margin:0 auto;}
	.naver .sns_tit .s2 p {text-align:center;  }
	.naver .sns_tit .s2 img {width:40%; margin-left:-10px;}





	
	.facebook .sns_tit .s2 p:nth-child(1), .twitter .sns_tit .s2 p:nth-child(1), .insta .sns_tit .s2 p:nth-child(1), .naver .sns_tit .s2 p:nth-child(1) {margin-bottom:10px; }
	.facebook .sns_tit .s2 p:nth-child(2), .twitter .sns_tit .s2 p:nth-child(2), .insta .sns_tit .s2 p:nth-child(2), .naver .sns_tit .s2 p:nth-child(2) {margin-bottom:30px; }



	.facebook .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_facebook_btn.gif) no-repeat top center;
		text-align:center; line-height:40px;  
	}

	.facebook .sns_tit .s2 p:nth-child(2) a:link, .facebook .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }


	.twitter .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_twitter_btn.gif) no-repeat top center;
		text-align:center; line-height:40px; 
	}
	.twitter .sns_tit .s2 p:nth-child(2) a:link, .twitter .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }


	.insta .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_insta_btn.gif) no-repeat top center;
		text-align:center; line-height:40px; 
	}
	.insta .sns_tit .s2 p:nth-child(2) a:link, .insta .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }
	.insta .sns_box{height:340px;background: none;}
	.insta .sns_box ul li{float:left;width:25%;margin-bottom: 0;}
	.insta .sns_box ul li img{width: 100%;}

	.naver .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_naver_btn.gif) no-repeat top center;
		text-align:center; line-height:40px; 
	}
	.naver .sns_tit .s2 p:nth-child(2) a:link, .naver .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }

	.sns_box {
		   width:500px; height:65%;margin:0 auto; 
	}
	.naver .sns_box{background: #fff;}

	.naver .blog{height: 100%;overflow-x: hidden;overflow-y: scroll;}
	.b-tit{margin-bottom: 12px;padding: 15px 10px 0 10px;}
	.b-tit a{display: block;font-size: 15px;color: #3a8d17;font-weight: bold;line-height: 1.4;}
	.b-con{font-size: 13px;color: #777;margin-bottom: 15px;padding: 0 10px;line-height: 1.4;}
	.b-date{font-size: 12px;color: #777;padding: 0 10px 15px 10px;border-bottom: 1px solid #e0e0e0;}
	.sns_box ul{width: 100%;height: 100%;}
	.sns_box ul li.conbox{width: 33.33%;height: 50%;position: relative;overflow: hidden;float: left;}
	.insta .sns_box ul li.conbox a{display: block;width: 100%;height: 100%;background-color: rgba(0,0,0,0.3);transition: 0.3s;position: absolute;left: 0;top: 0;}
	.insta .sns_box ul li.conbox img{display: block;width: 100%;height: 100%;transition: 0.5s;}
	.insta .sns_box ul li.conbox:hover a{background: none;}
	.insta .sns_box ul li.conbox:hover img{transform: scale(1.3);}
	div.sub_inner .sns_box ul{padding-left: 0 !important;}
	.sns_box ul li{list-style: none !important;}
	
}







@media screen and (max-width: 550px) {



	.sns_wrap {margin:0 auto;}

	.facebook {width:100%; height:740px; background:#4867aa; }
	.twitter {width:100%; height:745px; background:#32ccfe;}
	.insta {width:100%; height:650px; background:#dfdfdf;}
	.naver {width:100%; height:650px; background:#00c73c;}


	.facebook .sns_tit .s2 { display:block; padding-top:30px; width:80%; margin:0 auto;}
	.facebook .sns_tit .s2 p {text-align:center;  }
	.facebook .sns_tit .s2 img {width:50%;}


	.twitter .sns_tit .s2 { display:block; padding-top:30px; width:80%; margin:0 auto;}
	.twitter .sns_tit .s2 p {text-align:center;  }
	.twitter .sns_tit .s2 img {width:50%;}

	.insta .sns_tit .s2 { display:block; padding-top:20px; width:80%; margin:0 auto;}
	.insta .sns_tit .s2 p {text-align:center;  }
	.insta .sns_tit .s2 img {width:50%;}

	.naver .sns_tit .s2 { display:block; padding-top:30px; width:80%; margin:0 auto;}
	.naver .sns_tit .s2 p {text-align:center;  }
	.naver .sns_tit .s2 img {width:50%;}





	
	.facebook .sns_tit .s2 p:nth-child(1), .twitter .sns_tit .s2 p:nth-child(1), .insta .sns_tit .s2 p:nth-child(1), .naver .sns_tit .s2 p:nth-child(1) {margin-bottom:10px; }
	.facebook .sns_tit .s2 p:nth-child(2), .twitter .sns_tit .s2 p:nth-child(2), .insta .sns_tit .s2 p:nth-child(2), .naver .sns_tit .s2 p:nth-child(2) {margin-bottom:30px; }



	.facebook .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_facebook_btn.gif) no-repeat top center;
		text-align:center; line-height:40px;  
	}

	.facebook .sns_tit .s2 p:nth-child(2) a:link, .facebook .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }


	.twitter .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_twitter_btn.gif) no-repeat top center;
		text-align:center; line-height:40px; 
	}
	.twitter .sns_tit .s2 p:nth-child(2) a:link, .twitter .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }


	.insta .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_insta_btn.gif) no-repeat top center;
		text-align:center; line-height:40px; 
	}
	.insta .sns_tit .s2 p:nth-child(2) a:link, .insta .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }

	
	.naver .sns_tit .s2 p:nth-child(2) {
		width:95%; height:40px; background:url(../../common/img/sub/sns2_naver_btn.gif) no-repeat top center;
		text-align:center; line-height:40px; 
	}
	.naver .sns_tit .s2 p:nth-child(2) a:link, .naver .sns_tit .s2 p:nth-child(2) a:visited  {color:#fff; }

	.sns_box {
		   width:90%; height:70%;margin:0 auto; 
	}
	.naver .sns_box{background: #fff;}
	.naver .blog{height: 100%;overflow-x: hidden;overflow-y: scroll;}
	.b-tit{margin-bottom: 12px;padding: 15px 10px 0 10px;}
	.b-tit a{display: block;font-size: 15px;color: #3a8d17;font-weight: bold;line-height: 1.4;}
	.b-con{font-size: 13px;color: #777;margin-bottom: 15px;padding: 0 10px;line-height: 1.4;}
	.b-date{font-size: 12px;color: #777;padding: 0 10px 15px 10px;border-bottom: 1px solid #e0e0e0;}
	.sns_box ul{width: 100%;height: 100%;}
	.sns_box ul li.conbox{width: 50%;height: 33.33%;position: relative;overflow: hidden;float: left;}
	.insta .sns_box ul li.conbox a{display: block;width: 100%;height: 100%;background-color: rgba(0,0,0,0.3);transition: 0.3s;position: absolute;left: 0;top: 0;}
	.insta .sns_box ul li.conbox img{display: block;width: 100%;height: 100%;transition: 0.5s;}
	.insta .sns_box ul li.conbox:hover a{background: none;}
	.insta .sns_box ul li.conbox:hover img{transform: scale(1.3);}

	div.sub_inner .sns_box ul{padding-left: 0 !important;}
	.sns_box ul li{list-style: none !important;}
	
}




