@charset "utf-8";
@import url('reset.css');

/* 
===============================================================================================
1.	버    전 : sub_common.css
2.	작 성 자 : 박용찬
3.	작 성 일 : 2013. 11.18 
4.	참    고 : 서브 공통 스타일 스타일 정의
===============================================================================================
*/

body {background:#eceef5 url("../../common_adm/img/bg/back/login_02.jpg") repeat-y 50% top}

#wrapper {width:1024px;height:768px;margin:0 auto;background:url("../../common_adm/img/bg/back/login_bg.jpg") no-repeat left top;position:relative}
#wrapper #wrap {width:1024px;position:fixed;bottom:40%;overflow:hidden}
#wrapper #wrap .left_text {float:left}
#wrapper #wrap .left_text h1 {margin:260px 0 0 80px;color:#000000;font-size:3em;font-weight:bold}
#wrapper #wrap .left_text h1 span {color:#5e93db}
#wrapper #wrap .left_text p {margin:10px 0 0 80px;font-size:1.1em;font-weight:bold}
#wrapper #wrap .right_text {margin-top:240px;padding-right:30px;float:right}
#wrapper #wrap .right_text h2 {padding:5px 0 10px 25px;color:#ffffff;font-weight:bold;font-size:1.5em;background:url("../../common_adm/img/bg/icon/login_bar.gif") no-repeat 25px top}
#wrapper #wrap .right_text .login_form {width:328px;padding:29px 0 26px 26px;position:relative;background:url("../../common_adm/img/bg/back/login_form.gif") no-repeat left top}
#wrapper #wrap .right_text .login_form .login_p_top {margin-bottom:8px}
#wrapper #wrap .right_text .login_form label {width:50px;display:inline-block}
#wrapper #wrap .right_text .login_form .text_box {width:171px;height:18px;border:1px solid #b1b1b1}
#wrapper #wrap .right_text .login_form .login_btn {position:absolute;right:15px;top:28px}
#wrapper #wrap .right_text .find {margin-top:10px;padding-right:26px;text-align:right}

.find_btn {padding:4px 16px;border:1px solid #19284d;background:#273861;color:#ffffff;display:inline-block}

