@charset "utf-8";
@import url('reset.css');
@import url('layout.css');
@import url('table.css');

/* 
===============================================================================================
1.	버    전 : sub_common.css
2.	작 성 자 : 박용찬
3.	작 성 일 : 2013. 11.18 
4.	참    고 : 서브 공통 스타일 스타일 정의
===============================================================================================
*/
 

/* 달력  */
.ui-datepicker-trigger {margin-left:5px;vertical-align:middle;cursor:pointer} 

.center .content .page h3 {padding:20px 0 20px 5px;font-size:2.3em;font-weight:bold;color:#202020}
.center .content .page .location {padding-top:10px;text-align:right}
.center .content .page .location span {color:#202020} 
.center .content .page .location span img {margin-top:1px}

.search_form_top {padding:10px 0 10px 10px;margin-bottom:10px;text-align:left;position:relative;background:#ebebeb}
.search_form_top button {vertical-align:middle}
.search_form_top a {position:absolute;top:8px;right:0}
.search_form_top select {width:100px;height:20px;border:1px solid #d3d3d3}
.search_form_top input.txt_box {width:130px;height:20px;border:1px solid #d3d3d3}
.search_form_bottom {margin-top:10px;text-align:center}
.search_form_bottom select {width:100px;height:20px;border:1px solid #d3d3d3}

.table_top_btn {margin-bottom:9px;overflow:hidden}
.table_top_btn li {margin-right:5px;float:right} 

/*그래프*/
.graph_box {padding:0 0 30px 30px}
.graph_box .graph {position:relative;width:100%;background:url(../../common_adm/img/bg/back/graph_bg02.gif) repeat-x left top}
.graph_box .txt {padding-bottom:10px;text-align:right}
.graph_box .txt span {display:inline-block;*zoom:1;*display:inline;position:relative;padding-left:22px}
.graph_box .txt .y {margin-right:10px}
.graph_box .txt .y {background:url(../../common_adm/img/bg/icon/color_icon01.gif) no-repeat left 4px}
.graph_box .txt .t {background:url(../../common_adm/img/bg/icon/color_icon02.gif) no-repeat left 4px}
.graph_box .graph .g {position:relative;width:100%;height:179px;overflow:hidden;text-align:center}
.graph_box .graph .g li {display:inline-block;zoom:1;*display:inline;width:40px;margin-right:10%}
.graph_box .graph .g li div {position:absolute;bottom:0;width:20px}
.graph_box .graph .g li span {}
.graph_box .graph .num {position:absolute;left:-38px;top:-8px}
.graph_box .graph .num span {dispaly:inline-block;*zoom:1;*display:inline;width:31px;text-align:right}
.graph_box .graph .num span.n01 {position:absolute;left:0;top:2px}
.graph_box .graph .num span.n03 {position:absolute;left:0;top:163px}
.graph_box .graph .num span.n02 {position:absolute;left:0;top:82px}
.graph_box .graph .red {left:0;background:url(../../common_adm/img/common/bg_red.gif) repeat-y left bottom}
.graph_box .graph .purple {left:19px;background:url(../../common_adm/img/common/bg_blue.gif) repeat-y left bottom}
.tlt_box {width:100%;overflow:hidden}
.tlt_box h4 {float:left}
.tlt_box button {float:right}
/*그래프*/

/*공통*/
.txt_box50 {width:50px;height:20px;border:1px solid #d3d3d3}
.txt_box80 {width:80px;height:20px;border:1px solid #d3d3d3}
.txt_box100 {width:100px;height:20px;border:1px solid #d3d3d3}
.txt_box110 {width:110px;height:20px;border:1px solid #d3d3d3}
.txt_box120 {width:120px;height:20px;border:1px solid #d3d3d3}
.txt_box130 {width:130px;height:20px;border:1px solid #d3d3d3}
.txt_box150 {width:150px;height:20px;border:1px solid #d3d3d3}
.txt_box170 {width:170px;height:20px;border:1px solid #d3d3d3}
.txt_box200 {width:200px;height:20px;border:1px solid #d3d3d3}
.txt_box250 {width:250px;height:20px;border:1px solid #d3d3d3}
.txt_box300 {width:300px;height:20px;border:1px solid #d3d3d3}
.txt_box400 {width:400px;height:20px;border:1px solid #d3d3d3}
.txt_box500 {width:500px;height:20px;border:1px solid #d3d3d3}
.txt_box600 {width:600px;height:20px;border:1px solid #d3d3d3}

.select_box50 {width:50px;height:20px;border:1px solid #d3d3d3}
.select_box100 {width:100px;height:20px;border:1px solid #d3d3d3}
.select_box110 {width:110px;height:20px;border:1px solid #d3d3d3}
.select_box120 {width:120px;height:20px;border:1px solid #d3d3d3}
.select_box130 {width:130px;height:20px;border:1px solid #d3d3d3}
.blue {font-weight:bold;color:#47649b}
.tlt {margin-bottom:15px;padding-left:15px;background:url(../../common_adm/img/bg/icon/bullet_03.gif) no-repeat left 5px;font-size:17px;font-weight:600;color:#202020}

.table_sms {width:100%;overflow:hidden}
.table_sms .sms_line {width:192px;height:294px;float:left;background:url("../../common_adm/img/bg/back/sms_bg.gif") no-repeat left top;text-align:center}
.table_sms .sms_line textarea {width:150px;height:200px;margin:40px 20px 20px;border:1px none #ffffff}
.table_sms .sms_line span {display:inline-block}
.table_sms .table_line {padding-left:207px}


/*button*/
button {font-family:나눔고딕,Nanum Gothic,dotum,'돋움',sans-serif;font-size:12px}
button.button01 {height:25px;padding:0 15px;background:#5478ff;color:#ffffff}
.btn_gy {display:inline-block;height:25px;padding:0 15px;border:1px solid #626262;background-color:#757575;vertical-align:middle;color:#FFFFFF !important}

.blue_btn {
display:inline-block;height:20px;padding:5px 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#506799 #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

button.blue_btn {
display:inline-block;height:28px;padding:0 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#506799 #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

.red_btn {
display:inline-block;height:20px;padding:5px 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#B84A64 #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

button.red_btn {
display:inline-block;height:28px;padding:0 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#B84A64 #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

.gray_btn {
display:inline-block;height:20px;padding:5px 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#5E5F5F #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

button.gray_btn {
display:inline-block;height:28px;padding:0 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#5E5F5F #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

.yellow_btn {
display:inline-block;height:20px;padding:5px 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#D4A72C #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

button.yellow_btn {
display:inline-block;height:28px;padding:0 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#D4A72C #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

.green_btn {
display:inline-block;height:20px;padding:5px 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#00860d #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

button.green_btn {
display:inline-block;height:28px;padding:0 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#00860d #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

.puple_btn {
display:inline-block;height:20px;padding:5px 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#6300ea #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

button.puple_btn {
display:inline-block;height:28px;padding:0 15px 0 15px;border-width:2px 1px 1px 1px;border-style:solid;border-color:#6300ea #c2c2c2 #c2c2c2 #c2c2c2;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(231,231,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(231,231,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
;vertical-align:middle;color:#575757 !important
}

.b_bottom_layer {width:95%;padding:9px 8px 9px 8px;border:1px solid #d8d8d8;background:#ffffff;position:absolute;overflow:hidden}
.b_bottom_layer h3 {width:120px;margin-bottom:10px;font-weight:bold;font-size:1em;color:#202020;float:left}
.b_bottom_layer span {float:right}
.b_bottom_layer .layer_table {width:100%;border-top:3px solid #5b5b5b;border-bottom:2px solid #5b5b5b}
.b_bottom_layer .layer_table tbody th {padding:9px 0;color:#3d3d3d;background:#f4f5f7;border-width:1px;border-style:none none solid none;border-color:#dbdbdb}
.b_bottom_layer .layer_table tbody td {padding:9px 0;text-align:center;color:#3d3d3d;border-width:1px;border-style:none none solid none;border-color:#dbdbdb}



.tab {width:100%;margin-bottom:10px;border-bottom:2px solid #adadad;overflow:hidden}
.tab li {margin-right:5px;float:left;text-align:center}
.tab li a {width:100px;padding:10px 0;display:inline-block;color:#000000;background:#ebebeb;font-weight:bold;font-size:1.1em}
.tab li a:hover {color:#ffffff;background:#303030}
.tab li a.on {color:#ffffff;background:#303030}



.config .b_bottom {padding:9px 15px 9px 15px;position:relative; border:1px solid #d8d8d8;width:45%}
.config .b_bottom h3 {padding:9px 15px 9px 15px!important;margin-bottom:10px!important;font-weight:bold!important;font-size:1em!important;color:#202020!important}

table.people_num {width:100%;border-top:3px solid #5b5b5b;border-bottom:2px solid #5b5b5b}
table.people_num thead th {padding:9px 0;color:#3d3d3d;background:#f4f5f7;border-width:1px;border-style:none solid solid none;border-color:#dbdbdb}
table.people_num thead th.tb_right {border-width:1px;border-style:none none solid none;border-color:#dbdbdb}
table.people_num tbody td {padding:9px 0;text-align:center;color:#3d3d3d;border-width:1px;border-style:none solid solid none;border-color:#dbdbdb}
table.people_num tbody td.tb_right {border-width:1px;border-style:none none solid none;border-color:#dbdbdb}
table.people_num tbody td.b_last {border-width:1px 1px 2px 1px;border-style:none solid solid none;border-color:#dbdbdb #dbdbdb #5b5b5b #dbdbdb}
table.people_num tbody td.b_last_right {border-width:1px 1px 2px 1px;border-style:none none solid none;border-color:#dbdbdb #dbdbdb #5b5b5b #dbdbdb} 
table.people_num .last {border-right:0}