@charset "utf-8";

/* 
===============================================================================================
1.	버    전 : table.css
2.	작 성 자 : 선종혁
3.	작 성 일 : 2013. 07. 26
4.	참    고 : 테이블 스타일 정의
===============================================================================================
*/

/* style01*/
.tb01 {width:100%;border-style:solid none none;border-width:3px 0 0;border-color:#5b5b5b}
.tb01 thead th {padding:10px 0;border-style:none none solid;border-width:0 0 1px;border-color:#adadad;background-color:#fafbfd;color:#3d3d3d}
.tb01 tbody th {padding:10px 0;border-style:none none solid;border-width:0 0 1px;border-color:#dbdbdb;background-color:#fafbfd;color:#3d3d3d}
.tb01 tbody td {padding:10px 0;border-style:none none solid;border-width:0 0 1px;border-color:#dbdbdb;text-align:center}
.tb01 tbody td.tb_left {padding-left:15px;text-align:left}
.tb01 tbody td a:hover {text-decoration:underline;color:#3f79b1}
.tb01 tbody td a:focus {text-decoration:underline;color:#3f79b1}
.tb01 tbody td strong {color:#333333}

.tb01_v {width:100%;border-style:solid none none;border-width:3px 0 0;border-color:#5b5b5b}
.tb01_v thead th {padding:9px 0 9px 20px;border-style:none none solid;border-width:0 0 1px;border-color:#dbdbdb;background-color:#fafbfd;font-size:1.1em;text-align:left;color:#3d3d3d}
.tb01_v tbody th {padding:11px 0 11px 20px;border-style:none none solid;border-width:0 0 1px;border-color:#adadad;background:url("../../common_adm/img/common/bullet11.gif") no-repeat right 16px;text-align:left}
.tb01_v tbody th.tb_center {padding:11px 0;border-width:1px;border-style:none solid solid none;border-color:#ababab;background:#f6f6f6;text-align:center;color:#404040}
.tb01_v tbody td {padding:11px 15px;border-style:none none solid;border-width:0 0 1px;border-color:#adadad;text-align:left}
.tb01_v tbody td .photo {width:100px;height:140px;margin:0 auto;border:1px solid #ababab}
.tb01_v tbody td label.font03 {width:30px;padding-left:5px;display:inline-block}
.tb01_v tbody td label.font04 {width:40px;padding-left:5px;display:inline-block}
.tb01_v tbody td label.font05 {width:50px;padding-left:5px;display:inline-block}
.tb01_v tbody td label.font06 {width:60px;padding-left:5px;display:inline-block}
.tb01_v tbody td label.font08 {width:80px;padding-left:5px;display:inline-block}
.tb01_v tbody td input {height:19px}
.tb01_v tbody td select {height:21px;border:1px solid #cecece}
.tb01_v tbody td textarea {width:95%;height:80px;border: 1px solid #D3D3D3;font-size:1.2em}
.tb01_v tbody td a:hover {text-decoration:underline;color:#3f79b1}
.tb01_v tbody td a:focus {text-decoration:underline;color:#3f79b1}
.tb01_v tbody td input.input01 {width:173px;border:1px solid #cecece}
.tb01_v tbody td input.input02 {width:57px;border:1px solid #cecece}
.tb01_v tbody td input.input03 {width:100%;border:1px solid #cecece}
 
.tb01_v tbody td input.input04 {width:85%;border:1px solid #cecece}
.tb01_v tbody td select.slt01 {width:53px}
.tb01_v tbody td.txt {height:150px;padding-left:20px;vertical-align:top;text-align:left}
.tb01_v tbody td.tb_center {border-width:1px;border-style:none solid solid none;border-color:#adadad}
.tb01_v tbody td.tb_txt_align {text-align:center}
.tb01_v tbody td p {padding-bottom:3px}
/* .tb01_v tbody td span {margin-left:10px;color:#ff5a5a} */
.tb01_v tbody .bg_n {background:none}

.help {margin-left:10px;color:#ff5a5a}
/* style02*/
.tb02 {width:100%;border-style:solid none none;border-width:3px 0 0;border-color:#d9d9d9}
.tb02 thead th {padding:10px 0;border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#e5e5e5;background-color:#f4f4f4;text-align:center;color:#141414}
.tb02 tbody th {padding:10px 0 10px 18px;border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#e5e5e5;background-color:#f4f4f4;text-align:left;color:#141414}
.tb02 tbody td {padding:10px;border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#e5e5e5;text-align:left;color:#494949}
.tb02 tbody td.pic02 {text-align:center}
.tb02 tbody td input.input01 {width:107px;height:25px;border:1px solid #dddddd}
.tb02 tbody td input.input02 {width:70px;height:25px;border:1px solid #dddddd}
.tb02 tbody td input.input03 {width:574px;height:25px;border:1px solid #dddddd}
.tb02 tbody td input.input04 {width:160px;height:25px;border:1px solid #dddddd}
.tb02 tbody td input.input05 {width:156px;height:25px;border:1px solid #dddddd}
.tb02 tbody td input.input06 {width:575px;height:25px;border:1px solid #dddddd}
.tb02 tbody td input.input07 {width:143px;height:25px;border:1px solid #dddddd}
.tb02 tbody td input.input08 {width:200px;height:25px;border:1px solid #dddddd}
.tb02 tbody td input.input09 {width:48px;height:25px;border:1px solid #dddddd}
.tb02 tbody td select {height:22px;border:1px solid #dddddd}
.tb02 tbody td textarea {width:554px;height:115px;padding:10px;border:1px solid #dddddd;font-size:1em}
.tb02 tbody td span.ipt_box {display:block;margin-bottom:5px}
.tb02 .bdr {border-bottom:3px solid #5a8105}
.tb02 .last {border-right:0}


/* style03*/
.tb03 {width:100%;border-style:solid none none;border-width:3px 0 0;border-color:#5b5b5b}
.tb03 thead th {padding:8px 10px 8px 10px;border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#adadad;background-color:#fafbfd;color:#3d3d3d}
.tb03 tbody th {padding:10px;border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#adadad;background-color:#F4F4F4;color:#3d3d3d}
.tb03 tbody td {padding:10px;border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#adadad;text-align:center}
.tb03 tfoot th {padding:10px;border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#adadad;background-color:#fafbfd;color:#3d3d3d}
.tb03 tfoot td {padding:10px;border-style:none solid solid none;border-width:0 1px 1px 0;border-color:#adadad;text-align:center}
.tb03 tbody td ol {padding-left:23px}
.tb03 tbody td ol li {list-style:decimal outside none}
.tb03 tbody td ol li li {list-style:none}
.tb03 tbody td a:hover {text-decoration:underline}
.tb03 tbody td a:focus {text-decoration:underline}
.tb03 tbody td img {vertical-align:middle}
.tb03 .last {border-right:0}
.tb03 .left {text-align:left}
.tb03 .last_bg {border-right:0;background:url("../../resources/common/img/common/bullet08.gif") no-repeat center center}


.txt_view h3 {padding:9px 0 9px 20px;border-top:3px solid #5b5b5b;border-bottom:1px solid #dbdbdb;background-color:#f4f5f8;font-size:1em;font-weight:900;color:#3d3d3d}
.txt_view dl {width:100%;border-bottom:1px solid #dbdbdb;overflow:hidden}
.txt_view dl.top {border-top:3px solid #5b5b5b}
.txt_view dl.dl_b {width:100%;border-bottom:1px solid #adadad;overflow:hidden}
.txt_view dt {float:left;width:80px;padding:11px 0 11px 20px;background:url("../../resources/common/img/bg/icon/bullet01.gif") no-repeat right 50%;font-size:0.9em;font-weight:900;color:#3d3d3d;text-align:left}
.txt_view dd {float:left;width:251px;padding:11px 0 11px 20px;font-size:0.9em}
.txt_view dd a:hover {text-decoration:underline;color:#3f79b1}
.txt_view dd a:focus {text-decoration:underline;color:#3f79b1}
.txt_view div {padding:11px 0 110px 20px;border-bottom:1px solid #adadad;font-size:0.9em}
.prev_next {width:100%;overflow:hidden}
.prev_next dt {float:left;width:57px;padding:10px 0 10px 30px;border-bottom:1px solid #dbdbdb;color:#3d3d3d}
.prev_next dt.p {background:url("../../resources/common/img/bg/icon/bullet12.gif") no-repeat 15px 18px}
.prev_next dt.n {background:url("../../resources/common/img/bg/icon/bullet13.gif") no-repeat 15px 18px}
.prev_next dd {float:left;width:613px;padding:10px 0 10px 43px;border-bottom:1px solid #dbdbdb;font-size:0.9em}
.prev_next dd a:hover {text-decoration:underline;color:#3f79b1}
.prev_next dd a:focus {text-decoration:underline;color:#3f79b1}
.tb_dl01 dt {padding-left:10px;background:url("../../resources/common/img/common/bullet07.gif") no-repeat left 8px}
.tb_dl01 dd {padding-left:10px;background:url("../../resources/common/img/common/bullet08.gif") no-repeat left 9px}
.tb_dl01 dd em {display:block;padding-left:5px;background:url("../../resources/common/img/common/bullet09.gif") no-repeat left 8px}
.td_ul01 li {padding-left:10px;background:url("../../resources/common/img/common/bullet08.gif") no-repeat left 9px}
.td_ul01 li li {padding-left:10px;background:url("../../resources/common/img/common/bullet06.gif") no-repeat left 9px}
.td_sp01 {display:inline-block;padding-left:10px;background:url("../../resources/common/img/common/bullet08.gif") no-repeat left 9px}
.file {display:inline-block;background:url("../../resources/common/img/common/icon_file.gif") no-repeat left 3px}
.tb_align01 td {vertical-align:top;text-align:left !important}
.tb_align01 td.txt_c {text-align:center !important}
.td_c td {padding-left:0 !important;text-align:center !important}
.board_btn {margin-top:20px;text-align:right}
.all_c th {padding:10px 0 !important;text-align:center !important}
.all_c td {padding:10px 0 !important;text-align:center !important}
.center_box {text-align:center}
.center_box .btn {margin:20px 0}
.center_box .btn a {display:inline-block;width:170px;height:24px;border:1px solid #446006;line-height:1.7em;background-color:#5a8105;text-align:center;color:#FFFFFF}
.left_box {text-align:left}
.left_box .btn {margin:20px 0}
.left_box .btn a {display:inline-block;width:170px;height:24px;border:1px solid #446006;line-height:1.7em;background-color:#5a8105;text-align:center;color:#FFFFFF}
.reply {padding-left:15px;background:url("../../resources/common/img/common/icon06.gif") no-repeat left 3px}


/* paging */
.paging_box {position:relative;width:100%;margin-top:20px}
.paging_box .btn {position:absolute;right:0;top:0}
.paging {text-align:center}
.paging strong {padding:3px 8px;color:#ffffff;background-color:#5b5b5b;border:1px solid #5b5b5b}
.paging a {padding:3px 8px;color:#666666;background-color:#ffffff;border:1px solid #e0e0e0}
.paging a img {vertical-align:middle}
.paging a:hover {padding:3px 8px;color:#ffffff;background-color:#5b5b5b;border:1px solid #5b5b5b}
.paging a:focus {padding:3px 8px;color:#ffffff;background-color:#5b5b5b;border:1px solid #5b5b5b}
.paging .prev1 {padding:0 0 0 0;border:none;background:none}
.paging .prev1:hover {padding:0 0 0 0;border:none;background:none}
.paging .prev1:focus {padding:0 0 0 0;border:none;background:none}
.paging .prev2 {margin-right:10px;padding:0 0 0 0;border:none}
.paging .prev2:hover {padding:0 0 0 0;border:none}
.paging .prev2:focus {padding:0 0 0 0;border:none}
.paging .next1 {margin-left:10px;padding:0 0 0 0;border:none}
.paging .next1:hover {padding:0 0 0 0;border:none}
.paging .next1:focus {padding:0 0 0 0;border:none}
.paging .next2 {padding:0 0 0 0;border:none;background:none}
.paging .next2:hover {padding:0 0 0 0;border:none;background:none}
.paging .next2:focus {padding:0 0 0 0;border:none;background:none}
.btn_form {margin-top:30px;text-align:right}