.db{display: block !important;}
.dib{display: inline-block !important;}
.dn{display: none !important;}
.din{display: initial !important;}

/*margin*/
.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:15px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}

/*padding*/
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:15px !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:15px !important;}

/*float*/
.fll{float:left !important;}
.flr{float:right !important;}
.clb{clear:both !important}
.ofh{overflow: hidden !important;}

/*width*/
.w20{width: 20% !important;}
.w25{width: 25% !important;}
.w33{width: 33.33% !important;}
.w50{width: 50% !important;}
.w66{width: 66.66% !important;}


/*align*/
.tac{text-align: center !important;}
.tal{text-align: left !important;}
.tar{text-align: right !important;}
.fwb{font-weight: 600 !important;}

/*폰트사이즈*/
.fz60{font-size: 60px !important;}
.fz50{font-size: 50px !important;}
.fz40{font-size: 40px !important;}
.fz30{font-size: 30px !important;}
.fz25{font-size: 25px !important;}
.fz20{font-size: 20px !important;}
.fz16{font-size: 16px !important;}
.fz15{font-size: 15px !important;}
.fz14{font-size: 14px !important;}
.fz13{font-size: 13px !important;}
.fz12{font-size: 12px !important;}

/*line-height*/
.lh12{line-height: 1.2 !important;}
.lh15{line-height: 1.5 !important;}
.lh28px{line-height: 28px !important;}
.lh30px{line-height: 30px !important;}


/*폰트칼라*/
.fcOrange{color: #f26522 !important;}
.fcPink{color:#f44494 !important}
.fcBlue{color:#0971f2 !important}
.fcDblue{color:#0147a7 !important}
.fcRed{color:#e2383f !important}
.fcYellow{color:#d59100 !important}
.fcGreen{color:#288C28 !important}
.fcLblue{color:#008fec !important}
.fc80{color:#585858 !important}
.fc60{color:#8d8d8d !important}

/*버튼*/

/*테이블*/


/*반응형*/
@media screen and (max-width: 1024px){
	
}

@media screen and (max-width: 768px){
	.n_mobile{display:none;}
	.mw100{width: 100% !important;}
	.miw130{min-width: 130px;}
}

@media screen and (max-width: 480px){
	/*모바일 폰트사이즈*/
	.mfz16{font-size: 16px !important;}
	.mfz19{font-size: 19px !important;}
	.mfz20{font-size: 20px !important;}
	.mfz26{font-size: 26px !important;}
	.mfz33{font-size: 33px !important;}
}



/*만족도 평가 창*/
#satisurvey_wrap{max-width: 1200px;margin: 0 auto 10px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

.surveylayer_in_box .content .formheader{text-align: center;margin-bottom: 40px;}
.surveylayer_in_box .content .formheader p{display: inline-block;font-size: 50px;font-weight: 500;margin-top: 80px;background: url(../img/sub/surveyformheader.png) left 10px no-repeat;text-indent: 50px;}
.surveylayer_in_box .content .formdescription{padding: 40px;background-color: #f7f7f7;}
.surveylayer_in_box .content .formdescription p.txt{font-size: 16px;font-weight: 400;line-height: 1.5;}
.surveylayer_in_box .content .formdescription p.tit{font-size: 20px;}

.surveylayer_in_box .content .formcontent{padding: 30px;margin: 30px auto 0;}
.surveylayer_in_box .content .formchoice{margin-bottom: 40px;}
.surveylayer_in_box .content p.tit{font-size: 17px;font-weight: 500;margin-bottom: 15px;}
.surveylayer_in_box .content .formchoice ul.chk{overflow: hidden;padding-left: 20px;}
.surveylayer_in_box .content .formchoice ul.chk li{float: left;width: 20%;list-style: none;}
.surveylayer_in_box .content .formchoice ul.chk li label{font-size: 17px;font-weight: 500;color: #616161;}
.surveylayer_in_box .content .formtxt{margin-top: 60px;}
.surveylayer_in_box .content .formtxt textarea{width: 100%;height: 200px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;padding: 20px;line-height: 1.4;font-size: 16px;}


.surveylayer_in_box .content .formbtn{text-align: center;margin-top: 30px;}
.surveylayer_in_box .content .formbtn a.submit{font-size: 20px;color: #fff;background-color: #2171a6;padding: 10px 70px;display: inline-block;margin-top: 20px;}
