@charset "utf-8";

/*메인공통*/

/*메인상단*/

.main-top {background: url(../img/main/main-bg.jpg) no-repeat 50% 50%; padding:50px 0; background-size: cover;}
.main-top .inner {overflow: hidden;}
.main-top .slide {float: left; width: 60%;}
.main-best {float: right; width: 38%; background: #fff; position: relative;}
.main-best h2 {font-size:2rem; color:#fff; padding:18px 20px; background: #f68b33; font-weight: 500;}
.main-best ul {padding:10px;}
.main-best ul li{border-bottom: 1px solid #ddd; padding:14px 20px;}
/* .main-best ul li:nth-of-type(-n+3) a {color:#f68b33;} */
.main-best ul li:last-of-type {border-bottom: 0;}
.main-best ul li a {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.main-best ul li a:hover {text-decoration: underline;}
.main-best .more-btn {position: absolute; top:22px; right:30px; width: 20px; height: 20px; background: url(../img/common/ico-plus-w.png) no-repeat 50% 50%; border:1px solid #fff; text-indent: -9999px;}

.main-quick {clear: both;}
.main-quick ul {overflow: hidden;}
.main-quick ul li {float: left; width: 18%; margin-left:2%; background: #fff; padding:2.2%; background-position: 90% 30px; background-repeat: no-repeat; margin-top:1.2%;}
.main-quick ul li .title {font-size: 2rem; margin-bottom: 25%; color:#000; display: block;}
.main-quick ul li .more-btn {padding:3px 40px 3px 10px; background: #fff url(../img/common/ico-more.png)no-repeat 90% 50%; border:1px solid #bbb;  font-size: 1.5rem;}
.main-quick ul li:nth-of-type(2) {background-image: url(../img/main/ico-quik1.png);}
.main-quick ul li:nth-of-type(3) {background-image: url(../img/main/ico-quik2.png);}
.main-quick ul li:nth-of-type(4) {background-image: url(../img/main/ico-quik3.png);}
.main-quick ul li.issue-bn {width: 40%; margin-left: 0; padding:0; }
.main-quick ul li.issue-bn a {display: block;}

.main-board {overflow: hidden; padding:3% 0;}
.recent-post {float: left; width: 47%; margin-right:6%; position: relative;}
.recent-post:last-of-type {margin-right: 0;}
.recent-post h2 {font-size: 2.4rem; color:#000; margin-bottom: 25px; padding-bottom: 7px; border-bottom: 2px solid #194a9d; font-weight: 500;}
.recent-post ul li {margin-bottom: 10px; position: relative;}
.recent-post ul li a {display: block; position:relative;padding:0 100px 0 10px;}
.recent-post ul li a:before {content:"";display:inline-block;position:absolute;left:0;top:50%;margin-top:-1px;width:2px;height:2px;background:#666;border-radius:50%;margin-right:10px;}
.recent-post ul li a span:first-of-type {overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical;  line-height: 1.4em;  max-height: 1.4em;}
.recent-post ul li a:hover {color:#000;}
.recent-post ul li .date {position: absolute; top:0; right: 0; color:#999}
.recent-post .more-btn {position: absolute; top:5px; right: 0; color:#194a9d}
.recent-post .more-btn:after {content: ''; display: inline-block; width: 25px; height: 25px; background:url(../img/common//ico-plus-blue.png) no-repeat 50% 50%; border:1px solid #194a9d; vertical-align: middle; margin-left: 8px; position: relative; top:-2px;}

.main-class {background: url(../img/main/class-bg.jpg) no-repeat 50% 50%; background-size: cover; text-align: center; padding:3% 0;}
.main-class h2 {font-size: 3rem; color:#fff; margin-bottom: 20px; font-weight: 500;}
.main-class ul {overflow: hidden;}
.main-class ul li {float: left; width: 14.5%; background: #fff; border-radius: 10px;  margin-right:2.5%; margin-bottom: 2%; background-repeat: no-repeat; background-position: 50% 20px; transition: all .3s ease; -webkit-transition: all .3s ease;}
.main-class ul li:last-of-type {margin-right: 0;}
.main-class ul li a {display: block; font-size: 2rem; color:#000; padding:140px 10px 20px 10px; font-weight: 500;}
.main-class ul li:nth-of-type(1) {background-image: url(../img/main/ico-class1.png);}
.main-class ul li:nth-of-type(2) {background-image: url(../img/main/ico-class2.png);}
.main-class ul li:nth-of-type(3) {background-image: url(../img/main/ico-class3.png);}
.main-class ul li:nth-of-type(4) {background-image: url(../img/main/ico-class4.png);}
.main-class ul li:nth-of-type(5) {background-image: url(../img/main/ico-class5.png);}
.main-class ul li:nth-of-type(6) {background-image: url(../img/main/ico-class6.png);}
.main-class ul li:hover:nth-of-type(1) {background-image: url(../img/main/ico-class1.png);}
.main-class ul li:hover:nth-of-type(2) {background-image: url(../img/main/ico-class2-on.png);}
.main-class ul li:hover:nth-of-type(3) {background-image: url(../img/main/ico-class3-on.png);}
.main-class ul li:hover:nth-of-type(4) {background-image: url(../img/main/ico-class4-on.png);}
.main-class ul li:hover:nth-of-type(5) {background-image: url(../img/main/ico-class5-on.png);}
.main-class ul li:hover:nth-of-type(6) {background-image: url(../img/main/ico-class6-on.png);}



@media all and (max-width:1240px){

}

@media all and (max-width:1000px){
	.main-top {padding:20px 0;}
	.main-top .slide {width: 100%; float: none;}
	.main-top .slide img {width: 100%;}
	.main-best {width: 100%; float: none; margin:10px 0;}
	.main-best h2 {padding:12px 15px;}
	.main-best ul {padding:5px 10px;}
	.main-best ul li {padding:10px 10px;}
	.main-best .more-btn {top:16px; right: 20px;}

	.main-quick ul li {background-size: 35px; background-position: 50% 20px; padding:2.2% 0 1.5% 0; text-align: center;}
	.main-quick ul li .title {margin:50px 0 10px 0;}
}

@media all and (max-width:768px){
	.main-quick ul li {width: 32%; margin:0; margin-right: 2%;}
	.main-quick ul li:last-of-type {margin-right: 0;}
	.main-quick ul li.issue-bn {float: none; width: 100%; margin-bottom: 10px;}
	.main-quick ul li.issue-bn img {width: 100%;}
	.main-quick ul li .more-btn {padding:3px 30px 3px 7px}
	.main-best {display:none;}
	.type-m {display:none;}
	.main-board {padding:20px 0 10px 0;}
	.recent-post {float: none; width: 100%; margin-bottom:25px;}
	.recent-post h2 {margin-bottom: 20px;}
	.recent-post .more-btn:after {width: 20px; height: 20px;}

	.main-class {padding:20px 0 30px 0;}
	.main-class h2 {margin-bottom: 5px;}
	.main-class ul li {width: 31.3%; margin:1%; background-size: 60px; background-position: 50% 10px;}
	.main-class ul li a {padding:80px 10px 10px 10px;}
}

@media all and (max-width:480px){

}