@charset "utf-8";

/*교육안내*/
.pg-about .txt-box {margin-bottom:40px;}
.pg-about .txt-box p {margin-bottom: 20px; text-align: center;}
.pg-about .learner {overflow: hidden; text-align: center; border:1px solid #ddd;}
.pg-about .learner li {float: left; width: 33.3%; padding:3% 0; }
.pg-about .learner li dl {background-repeat: no-repeat; background-position: 50% 0; padding:180px 10px 0 10px; border-right: 1px solid #ddd;}
.pg-about .learner li:nth-of-type(1) dl{background-image: url(../img/sub/about-ico1.png);}
.pg-about .learner li:nth-of-type(2) dl {background-image: url(../img/sub/about-ico2.png);}
.pg-about .learner li:nth-of-type(3) dl {background-image: url(../img/sub/about-ico3.png); border-right: 0;}
.pg-about .learner li dl dt {font-weight: 500; color:#000; font-size: 1.8rem;}
.pg-about .process {overflow: hidden; border:1px solid #ddd; }
.pg-about .process li {float: left; width: 33.3%; padding:2%; position: relative;}
.pg-about .process li:after {content: ''; display: block; width:30px; height: 100%; background: url(../img/sub/about-bar.png) no-repeat 0 50%; position: absolute; top:0; right: 0;}
.pg-about .process li:last-of-type:after {display: none;}
.pg-about .program {overflow: hidden; margin:-2%; margin-bottom: 0;}
.pg-about .program li {float: left; width: 30.3%; margin: 1.5%; position: relative; border:1px solid #ddd; min-height: 350px;}
.pg-about .program li h5 {padding:6%; background: #555; color:#fff; font-size: 1.8rem; font-weight: 500;}
.pg-about .program li dl {padding:6% 6% 0 6%; font-size: 1.6rem}
.pg-about .program li dl dt { font-weight: 500; color:#000;}
.pg-about .program li .btn-box {border-top:1px solid #eee; margin:0; padding:15px 0; position: absolute; bottom: 0; left: 0; width: 100%;}


/*경진대회*/
.contest-history {overflow: hidden;}
.contest-history > div {float: right; width: 53%;}
.contest-history .txt-box {float: left; width: 45%; padding:10px;}
.contest-history .txt-box dl {padding-left:50px; padding-bottom: 20px;  background: url(../img/common/ico-bullet.png) no-repeat 0px 6px; position: relative;}
.contest-history .txt-box dl:before {content: ''; display: block; width: 1px; height: 100%; background: #0d6dbe; position: absolute; top:6px; left: 7px; z-index: -1}
.contest-history .txt-box dl:last-of-type:before {display: none;}
.contest-history .txt-box dl dt {font-size:1.8rem; color:#0d6dbe; margin-bottom: 5px;}
.contest-history .txt-box dl dd {font-size: 1.6rem;}

.contest-winner {overflow: hidden; padding:3%; border:1px solid #ddd; background: #f9f9f9;}
.contest-winner li {float: left; width: 48%; }
.contest-winner li:last-of-type {float: right;}
.contest-winner li figcaption {text-align: center; margin-top:20px; font-size: 1.8rem; color:#000; font-weight: 500;}

.pg-contest-proc h5 {font-weight:500; color:#000; margin-bottom: 10px; font-size: 2rem; margin-top:30px; }
.pg-contest-proc .col2 {overflow: hidden; text-align: center;}
.pg-contest-proc .col2 section {float: left; width: 49%; margin-bottom: 0;}
.pg-contest-proc .col2 section:last-of-type {float: right; width: 49%;}
.pg-contest-proc .col2 section .img-box {margin-bottom: 5px; border:1px solid #ddd; display: block; width: 100%}
.pg-contest-proc .col2 section h6 {background: #ededed; padding:3% 10px; font-weight: 500; color:#000; font-size: 1.8rem;  }
.pg-contest-proc .col2 ul {border:1px solid #ddd; padding:15px 20px; text-align: left;}

#contentTab2 .col2 {margin:20px 0;}
#contentTab2 .col2 section ul {min-height:153px }

.pg-contest-proc .col3 {overflow: hidden; text-align: center; margin:20px 0 40px;}
.pg-contest-proc .col3 section {float: left; width: 32%; margin-bottom: 0; margin-right: 2%; border:1px solid #ddd; min-height: 340px; padding:0;}
.pg-contest-proc .col3 section:last-of-type {margin-right: 0;}
.pg-contest-proc .col3 section .img-box {margin-bottom: 5px; display: block; width: 100%}
.pg-contest-proc .col3 section h6 {background: #ededed; padding:3% 10px; font-weight: 500; color:#000; font-size: 1.8rem;  }
.pg-contest-proc .col3 ul {padding:15px 20px;}
.pg-contest-proc .col3 ul li {text-align: left; }

.contest-mission {overflow: hidden; margin-bottom: 40px;}
.contest-mission li {float: left; width: 24%; margin-right: 1.3%; border:1px solid #ddd; padding:15px; text-align: center; background: #f9f9f9; }
.contest-mission li:last-of-type {margin-right: 0;}
.contest-mission li dl dt {font-weight: 500; color:#000; margin:15px 0 5px 0;}
.contest-mission li dl dd {font-size: 1.6rem;}

.video-wrap {position:relative;width: 100%;height: 0;padding-bottom: 56.25%;}
.video-wrap iframe { position: absolute; top: 0;  left: 0;  width: 100%; height: 100%;}

@media all and (max-width:1240px){ 
	
}

@media all and (max-width:1000px){ 
	.pg-about .learner li dl {background-size: 100px; padding-top:85px;}
	.pg-about .process li {padding:5%}
}

@media all and (max-width:768px){ 
	.pg-about .learner li dl {background-size: 100px; padding-top:85px;}
	.pg-about .process li {float: none; width: 100%; text-align: center; margin-bottom: 30px; padding:20px;}
	.pg-about .process li:after {top:95%; left: 0; transform: rotate(90deg); width: 130px; margin:0 auto; height: 160px;}
	
	.contest-history .txt-box,
	.contest-history > div {float: none; width: 100%;}
	
	.pg-contest-proc .col2 section:last-of-type,
	.pg-contest-proc .col2 section {float: none; width: 100%; padding: 0;}
	#contentTab2 .col2 section ul {min-height: auto;}
	.pg-contest-proc .col3 section {float: none; width: 100%; margin:0 0 10px 0; min-height: auto;}
	
	.contest-mission li {width: 48%; margin:1%;}
	
}

@media all and (max-width:600px){ 
	.pg-about .learner li dl {background-size: 70px; padding-top:65px;}
	.pg-about .program li {width: 47%}
	
	.contest-winner li:last-of-type,
	.contest-winner li {float: none; width: 100%; margin-bottom: 20px;}
	
	.contest-mission li {width: 100%; margin:0 0 10px; float: none;}
}

@media all and (max-width:480px){ 
	.pg-about .program  {margin:0;}
	.pg-about .program li {width: 100%; float: none; margin:0 0 10px 0; min-height: inherit;}
	.pg-about .program li h5 {padding:3% 6%}
	.pg-about .program li .btn-box {position: relative; margin-top:20px;}
}





/* 마이페이지 */

.pg-edu-wrap {position:relative; padding-bottom:40px;}
.pg-edu-wrap .edu_ing {position:relative;}
.pg-edu-wrap .edu_ing > li {float:left; width:32%; margin-right:2%; color:#333}
.pg-edu-wrap .edu_ing > li:nth-child(3n) {margin-right:0;}
.pg-edu-wrap .edu_ing > li:nth-child(n+4) {margin-top:20px;}
.pg-edu-wrap .edu_ing > li > a {display:block; padding:20px; width:100%; height:100%; background:#fff; border-top:3px solid #e6f2ff; border-bottom:1px solid #ddd; transition:0.3s;}
.pg-edu-wrap .edu_ing > li > a:hover,
.pg-edu-wrap .edu_ing > li > a:focus {background:#e6f2ff;}

.pg-edu-wrap .edu_ing > li.ing > a{border-top:3px solid #0d6dbe; background:#F7FBFF;}
.pg-edu-wrap .edu_ing > li.ing .tit, .pg-edu-wrap .edu_ing > li.ing .tit span {color:#0d6dbe;}
.pg-edu-wrap .edu_ing > li.ing > a:hover,
.pg-edu-wrap .edu_ing > li.ing > a:focus {background:#bbddff;}

.pg-edu-wrap .edu_ing > li .tit {position:relative;font-size:2rem; font-weight:500; line-height:1.4;}
.pg-edu-wrap .edu_ing > li .tit:after {clear:both; content:''; display:block;}
.pg-edu-wrap .edu_ing > li .tit p { overflow:hidden; text-overflow:ellipsis; white-space:no-wrap; width:100%; padding-right:50px;}
.pg-edu-wrap .edu_ing > li .tit span {position:absolute; right:0; top:0; color:#666;}

.pg-edu-wrap .edu_ing > li .edu_bar {position:relative; display:block; height:24px; background:#E5E5E5; border-radius:5px; overflow:hidden; margin:20px 0; line-height:22px; transition:0.3s;}
.pg-edu-wrap .edu_ing > li .edu_bar span {display:block; position:absolute; left:0; width:100%; height:100%; background:#0d6dbe; border-radius:5px;}
.pg-edu-wrap .edu_ing > li .edu_bar span em {font-size:1.3rem; color:#fff; padding-left:10px; width:100px;}
.pg-edu-wrap .edu_ing > li > a:hover .edu_bar,
.pg-edu-wrap .edu_ing > li > a:focus .edu_bar {background:#fff;}

.pg-edu-wrap .edu_ing > li .edu_num {position:relative;}
.pg-edu-wrap .edu_ing > li .edu_num:after {clear:both; content:''; display:block;}
.pg-edu-wrap .edu_ing > li .edu_num li {float:left; width:48%; background:#fff; text-align:center; padding:0 0 20px 0; font-size:2rem;} 
.pg-edu-wrap .edu_ing > li .edu_num li+li {float:right;}
.pg-edu-wrap .edu_ing > li .edu_num li span {display:block; width:100%; padding:10px; margin-bottom:10px; font-size:1.8rem; font-weight:bold; background:#e6f2ff; color:#333;}

 
/* .pg-edu-wrap .edu_ing > li .edu_num {position:relative;}
.pg-edu-wrap .edu_ing > li .edu_num:after {clear:both; content:''; display:block;}
.pg-edu-wrap .edu_ing > li .edu_num li {padding-left:120px;} 
.pg-edu-wrap .edu_ing > li .edu_num li span {position:absolute; display:block; left:0; width:100px; font-size:1.6rem; font-weight:500; color:#333;}
 */


.pg-edu-wrap .edu_ing > li .edu_num {padding-top:20px; border-top:1px solid #ccc;}

@media all and (max-width:1000px){ 
	.pg-edu-wrap .edu_ing > li {width:49%; margin-right:0;}
	.pg-edu-wrap .edu_ing > li:nth-child(2n) {float:right;}
	.pg-edu-wrap .edu_ing > li:nth-child(n+3) {margin-top:20px;}

		.pg-edu-wrap .edu_ing > li .edu_bar {margin:10px 0;}
	.pg-edu-wrap .edu_ing > li .edu_num {padding-top:10px;}

	.pg-edu-wrap .edu_ing > li .edu_num li {padding:0 0 10px 0; font-size:1.4rem;}
	.pg-edu-wrap .edu_ing > li .edu_num li span {font-size:1.6rem; padding:5px;}
}

@media all and (max-width:600px){ 
	.pg-edu-wrap .edu_ing > li {width:100%; float:inherit;}
	.pg-edu-wrap .edu_ing > li:nth-child(2n) {float:inherit;}
	.pg-edu-wrap .edu_ing > li:nth-child(n+3) {margin-top:10px;}
	.pg-edu-wrap .edu_ing > li:nth-child(n+2) {margin-top:10px;}
	
	.pg-edu-wrap .edu_ing > li > a {border:3px solid #e6f2ff}
	.pg-edu-wrap .edu_ing > li.ing > a{padding:20px 10px; border:3px solid #0d6dbe;}

	
}



/* 마이페이지 진도율 상세 */

.edu-ing-wrap {position:relative; margin-bottom:30px;}
.edu-ing-wrap:after {content:''; display:block; clear:both;}

.edu-ing-wrap .edu_num {float:left; width:49%; font-size:2.2rem;}
.edu-ing-wrap .edu_num:after {content:''; display:block; clear:both;}
.edu-ing-wrap .edu_num li {position:relative; float:left; padding:20px; width:48%; background:#F7FBFF; text-align:right; border:1px solid #ddd;}
.edu-ing-wrap .edu_num li span {position:absolute; left:20px; top:26px; font-weight:500;}
.edu-ing-wrap .edu_num li em {font-size:3rem; padding-right:5px; font-weight:bold; color:#f26522;}
.edu-ing-wrap .edu_num li+li {float:right;}

.edu-ing-wrap .bar_wrap {position:relative; padding:20px; background:#F7FBFF;float:right; width:49%; border:1px solid #ddd;}
.edu-ing-wrap .tit {position:absolute; left:20px; top:26px; font-weight:500; color:#333; font-size:2.2rem;}
.edu-ing-wrap .edu_bar {margin-left:100px; position:relative; display:block; height:40px; background:#E5E5E5; border-radius:5px; overflow:hidden; line-height:40px; transition:0.3s;}
.edu-ing-wrap .edu_bar span {display:block; position:absolute; left:0; width:100%; height:100%; background:#f26522; border-radius:5px; }
.edu-ing-wrap .edu_bar span em {color:#fff; padding-left:10px; width:100px;}


@media all and (max-width:1000px){ 
	.edu-ing-wrap .edu_num, .edu-ing-wrap .bar_wrap {float:inherit; width:100%;}
	.edu-ing-wrap .edu_num li {width:49%; padding:10px;}
	.edu-ing-wrap .bar_wrap {margin-top:10px; padding:16px;}

	.edu-ing-wrap .edu_num li span, .edu-ing-wrap .tit {top:16px;}
	.edu-ing-wrap .edu_bar {height:30px; line-height:30px;}
}


@media all and (max-width:768px){ 
	.edu-ing-wrap .edu_num, .edu-ing-wrap .tit {font-size:1.8rem;}
	.edu-ing-wrap .edu_num li em {font-size:2.6rem;}
	.edu-ing-wrap .edu_bar {height:24px; line-height:24px;}
}

@media all and (max-width:460px){ 
	.edu-ing-wrap .edu_num li {float:inherit; width:100%; padding:5px;}
	.edu-ing-wrap .edu_num li+li {float:inherit; margin-top:5px;}
	.edu-ing-wrap .edu_num li span, .edu-ing-wrap .tit {top:11px; left:10px;}
	.edu-ing-wrap .bar_wrap {padding:10px 5px; margin-top:5px;}
	.edu-ing-wrap .edu_bar {margin-left:80px;}
	
}