@charset "utf-8";
@import url('table.css');
@import url('common.css');

/*건너뛰기링크*/
#accessibility {position:absolute;left:0;top:0;z-index:2000;width:100%}
#accessibility a {display:block;width:1px;height:1px;margin-bottom:-1px;overflow:hidden;text-align:center;font-weight:bold;color:#fff}
#accessibility a:focus, #accessibility a:active {width:100%;height:auto;padding:7px 0;background-color:#000}

/*공통부분*/
input[type=text],input[type=password],input[type=tel],input[type=email]{height:24px;padding:0 5px;border:1px solid #bababa;background:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type=checkbox], input[type=radio] {margin-top:-1px;margin-bottom:1px;}
textarea{padding:5px;border:1px solid #bababa;background-color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select{height:26px;margin:0;vertical-align:middle;background:#fff;border:1px solid #bababa;}

/* 모든 Device를 위한 공통 로드 */
body{}
.bbg{display:none;}

@media screen and (max-width: 1024px){
	body.gnbOpen{position:fixed;left:0;top:0;width:100%;height:100%;}
	.bbg{position:fixed;display:block;z-index:10;left:0;top:0;width:100%;height:0;background-color:rgba(0,0,0,0);transition:background-color ease 0.3s;-webkit-transition:background-color ease 0.3s;-moz-transition:background-color ease 0.3s;}
	body.gnbOpen .bbg{height:100%;background-color:rgba(0,0,0,0.7);}
}

/*관리자 메인*/
#container{height: 100%;position: relative;}
#container .cmsVer{position: absolute;right: 20px;top: 20px;z-index: 10;font-size: 14px;}
#container .centerLogo{position: absolute;width: 178px;height: 178px;left: 50%;top: 50%;margin-left: -89px;margin-top: -89px;background-color: #fff;border-radius: 50%;z-index: 10;background-image: url(../img/common/center-logo.png);background-repeat: no-repeat;background-position: center;/*-webkit-background-size: 70%;
background-size: 70%;*/z-index: 10;}
#container .loginBg{overflow: hidden;width: 100%;height: 100%;position: relative;}
#container .loginBg > div{width: 50%;height: 100%;float: left;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#container .loginBg > div.lBg{background-color: #176ba1;}
#container .loginBg > div.rBg{background-color: #ececec;}
#container .loginWrap{width: 1400px;margin: auto;overflow: hidden;position: absolute;top: 50%;margin-top: -165px;left: 50%;margin-left: -700px;}
#container .l{position: relative;width: 50%;padding: 60px 170px 55px 0;float: left;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#container .l > img{vertical-align: middle;margin-top: 20px;display: inline-block;float: left;margin-right: 50px;}
#container .l .loginBoxTxt{width: 70%;float: left;color: #fff;}
#container .l .loginBoxTxt .tit{font-size: 84px;font-weight: bold;line-height: 75px;margin-bottom: 15px;}
#container .l .loginBoxTxt p{font-size: 18px;line-height: 31px;}
#container .l .loginBoxTxt p img{margin-left: 10px;}

#container .r{position: relative;width: 50%;padding: 60px 0 55px 170px;float: right;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#container .r .formWrap{width: 70%;float: left;margin-top: 10px;}
#container .r .inputWrap{width: 100%;}
#container .r input.inp-long{width: 270px;margin-bottom: 10px;padding: 7px 25px;border-radius: 25px;box-shadow: inset 2px 2px 2px #dcdcdc;color: #5e656b;}
#container .r .userSel{width: 100%;padding: 30px 0 0 20px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#container .r .userSel p.state{display: inline-block;float: left;margin-right: 40px;}
#container .r .userSel p.state label{font-size: 15px;font-weight: bold;color: #505d67;}
#container .r .userSel input[type=checkbox]{margin-bottom: 4px;width: 17px;height: 17px;margin-right: 5px;}
#container .r .userSel ul.userJoin{display: inline-block;}
#container .r .userSel ul.userJoin li, #container .r .userSel ul.user_join li a{font-size: 15px;font-weight: 600;color: #176ba1;}
#container .r .userSel ul.userJoin li a{margin: 0 5px;}
#container .r .userSel ul.userJoin li a:hover{text-decoration: underline;}
#container .r .submit-btn{width: 30%;float: left;}
#container .r button.btn-login{color: #fff;width: 110px;height: 110px;border-radius: 50%;background-color: #176ba1;font-size: 20px;font-weight: 500;box-shadow: inset 2px 2px 2px #12527b;}


@media screen and (max-width: 1400px){
	#container .l{padding:90px 0px 55px 240px}
	#container .l > img{width: 70px;margin-right: 20px;}
	#container .l .loginBoxTxt{width: 60%;}
	#container .l .loginBoxTxt .tit{font-size: 64px;line-height: 55px;}
	#container .r{padding: 60px 100px 55px 0px;}
	#container .r .formWrap{width: 100%;float: none;margin-top: 10px;text-align: center;}
	#container .r .inputWrap{width: 322px;margin: auto;}
	#container .r input.inp-long{width: 270px;margin-bottom: 10px;padding: 7px 25px;border-radius: 25px;box-shadow: inset 2px 2px 2px #dcdcdc;color: #5e656b;}
	#container .r .submit-btn{width: 100%;float: none;text-align: center;}
	#container .r button.btn-login{color: #fff;width: 320px;height: 40px;border-radius: 25px;background-color: #176ba1;font-size: 20px;font-weight: 500;box-shadow: none;line-height: 40px;}
	#container .r .userSel{padding: 5px 0 15px;width: 260px;margin: auto;}
	#container .r .userSel p.state{text-align: left;margin-right: 0;width: 50%;}
	#container .r .userSel ul.userJoin{width: 50%;}
}


@media screen and (max-width: 1024px){
	#container{height: 1024px;}
	#container .cmsVer{color: #fff;}
	#container .centerLogo{width: 120px;height: 120px;margin-left: -60px;margin-top: 0;top: 452px;-webkit-background-size: 70%;
	background-size: 70%;}
	#container .loginBg > div{width: 100%;height: 512px;float: none;position: relative;}
	#container .loginWrap{width: 100%;height: 100%;top: 0;margin-top: 0;left: 0;margin-left: 0;}
	#container .l{width: 100%;height: 100%;padding: 70px 0 0 0;text-align: center;float: none;}
	#container .l > img{float: none;margin-right: 0;}
	#container .l .loginBoxTxt{width: 100%;float: none;margin: auto;}
	#container .l .loginBoxTxt .tit{margin-top: 15px;}
	#container .l .loginBoxTxt .txt{padding: 0 15%;}
	#container .r{width: 100%;height: 100%;padding: 70px 0 0 0;float: none;}
	#container .r .userSel p.state label{font-size: 14px;}
	#container .r .userSel ul.userJoin li, #container .r .userSel ul.user_join li a{font-size: 14px;}
}


@media screen and (max-width: 768px){
	

	
}


@media screen and (max-width: 480px){
	#container .cmsVer{font-size: 12px;}
	#container .r .inputWrap{width: 100%;}
	#container .r input.inp-long{width: 160px;}
	#container .r .userSel{width: 100%;}
	#container .r .userSel p.state{width: 100%;text-align: center;}
	#container .r .userSel ul.userJoin{width: 100%;}
	#container .r button.btn-login{width: 202px;}
}